In [63]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [64]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [65]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"),
      pd.get_option("display.max_rows"))

40 200

# Introduction

# Area Data

In [66]:
# Pickling Data
with open("data/area.pickle", "rb") as fr:
    data_area = pickle.load(fr)

In [67]:
data_area['mtrxpy']

exclsv           exclsv                                                   \
name            nmlstrg  cldstrg canopy    berth  office   stair  mchnrm
ttlfloor floor
ttlfloor b1        0.00  2565.58    0.0   487.20  207.38   59.78  523.83
         f1        0.00  2881.81    0.0     0.00   87.44   66.40    0.00
         f2     2621.46     0.00    0.0   476.93   73.75   72.90    0.00
         f3     2698.53     0.00    0.0   390.21   22.92   66.40    0.00
         f4     1397.94     0.00  203.3     0.00   19.52   37.86    0.00
         sum    6717.93  5447.39  203.3  1354.34  411.01  303.34  523.83
nonfloor f1        0.00     0.00    0.0   263.47    0.00    0.00    0.00
         f3        0.00     0.00    0.0     0.00    0.00    0.00    0.00
         sum       0.00     0.00    0.0   263.47    0.00    0.00    0.00
ttl      sum    6717.93  5447.39  203.3  1617.81  411.01  303.34  523.83

exclsv                     common                     ttl          rent
name                 sum  passage ramp      sum       sum           sum
ttlfloor floor
ttlfloor b1      3843.77   696.65  0.0   696.65   4540.42   3438.238769
         f1      3035.65     0.00  0.0     0.00   3035.65   3143.818719
         f2      3245.04   669.66  0.0   669.66   3914.70   3360.669872
         f3      3178.06     0.00  0.0     0.00   3178.06   3291.303186
         f4      1658.62     0.00  0.0     0.00   1658.62   1717.721280
         sum    14961.14  1366.31  0.0  1366.31  16327.45  14951.751825
nonfloor f1       263.47   525.71  0.0   525.71    789.18    272.858175
         f3         0.00   559.42  0.0   559.42    559.42      0.000000
         sum      263.47  1085.13  0.0  1085.13   1348.60    272.858175
ttl      sum    15224.61  2451.44  0.0  2451.44  17676.05  15224.610000

In [68]:
area = {}

area['area_ttl'] = data_area['mtrxpy'].loc[('ttl', 'sum'), ('ttl', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area['area_cld'] = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area['area_nml'] = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_nml])

area['floor_ttl'] = data_area['mtrxpy'].loc[('ttlfloor', 'sum'), ('ttl', 'sum')]

loc_cld = [x in ['b1', 'f1'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
area['floor_cld'] = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
area['floor_nml'] = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_nml])

area['rent_ttl'] = data_area['mtrxpy'].loc[('ttl', 'sum'), ('rent', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area['rent_cld'] = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area['rent_nml'] = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_nml])


print(f"Total area  : {area['area_ttl']:>10,.1f}")
print(f"Cold area   : {area['area_cld']:>10,.1f}")
print(f"Nomal area  : {area['area_nml']:>10,.1f}")
print(f"Total floor : {area['floor_ttl']:>10,.1f}")
print(f"Cold floor  : {area['floor_cld']:>10,.1f}")
print(f"Nomal floor : {area['floor_nml']:>10,.1f}")
print(f"Total rent  : {area['rent_ttl']:>10,.1f}")
print(f"Cold rent   : {area['rent_cld']:>10,.1f}")
print(f"Nomal rent  : {area['rent_nml']:>10,.1f}")

Total area  :   17,676.0
Cold area   :    8,365.2
Nomal area  :    9,310.8
Total floor :   16,327.5
Cold floor  :    7,576.1
Nomal floor :    8,751.4
Total rent  :   15,224.6
Cold rent   :    6,854.9
Nomal rent  :    8,369.7

# Initial Setting

In [69]:
astn = EmptyClass()

# Input Index Data

In [70]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 35],
           ['cstrn', '2022-01', 23],
           ['loan',  '2022-01', 29],
           ['sales', '2022-01', 29]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [71]:
# Equity Data

tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [72]:
# Loan Data

tmp_col = ['title', 'rnk', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',     0,     75_000,     18_000,      0.020,     0.043],
           ['trb',     1,     22_000,     22_000,      0.041,     0.070]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col).sort_values(by=['rnk'])

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     rnk = astn.loan.rnk,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

loan.arng_fee = 0.02       # Fee on balance for Tr.A
loan.feeonbal_tra = 0.002  # Arangement fee rate

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))
print(f"Arangement fee rate: {loan.arng_fee * 100:,.1f}%")
print(f"Fee on bal Tr.A    : {loan.feeonbal_tra * 100:,.1f}%")

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title   rnk amt_ntnl amt_intl rate_fee rate_IR
0   tra  0.00   75,000   18,000     2.00    4.30
1   trb  1.00   22,000   22,000     4.10    7.00
Arangement fee rate: 2.0%
Fee on bal Tr.A    : 0.2%

In [73]:
fee_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_fee)
IR_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_IR * 29 / 12)
arng_amt = sum(astn.loan.amt_ntnl * loan.arng_fee)

ttl_amt = fee_amt + IR_amt + arng_amt
allin_rate = ttl_amt / sum(astn.loan.amt_ntnl) * 12 / 29

print(f"allin_rate : {allin_rate*100:>5.2f}%")

allin_rate :  6.76%

# Input Sales Data

In [74]:
# Pickling Data
with open("data/valuation.pickle", "rb") as fr:
    data_valuation = pickle.load(fr)
valuation = data_valuation['valuation_pivot']
value = valuation.loc[[('23,000', '50,000')]].values[0]
print("## Valuation Matrix ##")
display(R(valuation))

## Valuation Matrix ##

cap_rate         (4.0, 4.6) (4.1, 4.8) (4.2, 5.0) (4.3, 5.2) (4.4, 5.4)
rent
(21,000, 46,000)    123,728    119,432    115,441    111,721    108,246
(22,000, 48,000)    128,976    124,499    120,339    116,463    112,840
(23,000, 50,000)    134,224    129,566    125,238    121,204    117,435
(24,000, 52,000)    139,472    134,633    130,136    125,945    122,029
(25,000, 54,000)    144,720    139,700    135,034    130,687    126,624
(26,000, 56,000)    149,969    144,766    139,933    135,428    131,218

In [75]:
sales_value = 125_000
sales = cf.Account(idx, 'Sales')
sales.addamt(idx.sales[0], sales_value)
sales.subscdd(idx.sales[-1], sales_value)

# Input Cost Data

### 1) Set Cost Class

In [76]:
cost = cf.Cost(idx)

### 2) Land Purchase Costs

In [77]:
lnd = {}

In [78]:
title = ('lnd', 'prchs') # land purchase cost
byname = '용지매입비'
lnd['prchs'] = 14_500
tmp_ary = [[idx.prjt[0],  1_000],
           [idx.loan[0], 13_500]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total prchs  : {lnd['prchs']:>10,.1f}")
print(f"Intl prchs   : {cost['prchs'].add_scdd[idx.prjt[0]]:>10,.1f}")
print(f"Secnd prchs  : {cost['prchs'].add_scdd[idx.loan[0]]:>10,.1f} ")

Total prchs  :   14,500.0
Intl prchs   :    1,000.0
Secnd prchs  :   13,500.0

In [79]:
title = ('lnd', 'brkrg') # land brokerage fee
byname = '부동산중개비용'
lnd['brkrg'] = lnd['prchs'] * 0.009
intlcst = 39
tmp_ary = [[idx.prjt[0],  intlcst],
           [idx.loan[0],  lnd['brkrg'] - intlcst]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total brkrg  : {lnd['brkrg']:>10,.1f}")
print(f"Intl brkrg   : {intlcst:>10,.1f}")
print(f"Secnd brkrg  : {cost['brkrg'].add_scdd[idx.loan[0]]:>10,.1f}")

Total brkrg  :      130.5
Intl brkrg   :       39.0
Secnd brkrg  :       91.5

In [80]:
title = ('lnd', 'nhbond') # national housing bond
byname = '국민주택채권'
매입률 = 0.045
본인부담률 = 0.055
lnd['nhbond'] = lnd['prchs'] * 매입률 * 본인부담률
tmp_ary = [[idx.loan[0], lnd['nhbond']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total nhbond : {cost['nhbond'].add_scdd[idx.loan[0]]:10,.1f}")

Total nhbond :       35.9

In [81]:
title = ('lnd', 'jdclcst') # judicial scrivener cost
byname = '법무사비용'
수수료율 = 0.001
lnd['jdclcst'] = lnd['prchs'] * 수수료율
tmp_ary = [[idx.loan[0], lnd['jdclcst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total jdclcst : {cost['jdclcst'].add_scdd[idx.loan[0]]:10,.1f}")

Total jdclcst :       14.5

In [82]:
title = ('lnd', 'tax_aqstn') # land acquisition and registration tax
byname = '취등록세'
취득세율 = 0.040
농특세율 = 0.002
교육세율 = 0.004
lnd['tax_aqstn'] = sum(cost['lnd'].amt) * (취득세율 + 농특세율 + 교육세율)
tmp_ary = [[idx.loan[0], lnd['tax_aqstn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total tax_aqstn : {cost['tax_aqstn'].add_scdd[idx.loan[0]]:10,.1f}")

Total tax_aqstn :      675.3

In [83]:
lnd['sum'] = sum(cost['lnd'].amt)

print(f"Total land cost : {lnd['sum']:10,.1f}")

Total land cost :   15,356.2

In [84]:
cost.lnd = lnd

### 3) Construction Costs

In [85]:
cstrn = {}
cstrn['dmltn'] = 35 + 1_180 # 철거비: 3,550평 x 342천원
cstrn['civil'] = 8_490 # 토목공사: 16,327평 x 520천원
cstrn['nml_fclt'] = area['area_nml'] * 2.66 # 상온시설: 9,311평 x 2,660천원
cstrn['cld_fclt'] = area['area_cld'] * 3.66 # 저온시설: 8,365평 x 3,660천원
cstrn['ttl_fclt'] = cstrn['nml_fclt'] + cstrn['cld_fclt']

cstrn['sum'] = 65_000 # 철거, 토목, 건축공사 통합 650억원으로 설정

retention_rate = 0.1
cstrn['intl'] = 35
cstrn['sum_prd'] = cstrn['sum'] * (1-retention_rate) - cstrn['intl']
cstrn['sum_rttn'] = cstrn['sum'] * retention_rate

print(f"Total construction cost:   {cstrn['sum']:>10,.0f}")
print(f"Initial construction cost: {cstrn['intl']:>10,.0f}")
print(f"Period construction cost:  {cstrn['sum_prd']:>10,.0f}")
print(f"Retained construction cost:{cstrn['sum_rttn']:>10,.0f}")

Total construction cost:       65,000
Initial construction cost:         35
Period construction cost:      58,465
Retained construction cost:     6,500

In [86]:
title = ('cstrn', 'cstrn') # construction cost
byname = '공사비'
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[idx.prjt[0], cstrn['intl']]]
tmp_ary.extend([[x, cstrn['sum_prd'] / tmp_len] for x in tmp_idx])
tmp_ary.append([idx.prjt[-1], cstrn['sum_rttn']])

cost.inptcst(title, byname, scdddf=tmp_ary)

In [87]:
cost.cstrn = cstrn

### 4) Indirect Construction Costs

In [88]:
cstrnidrt = {}

In [89]:
title = ('cstrnidrt', 'wtrelec') # water supply, electricity etc. 
byname = '각종인입비'
cstrnidrt['wtrelec'] = 980
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wtrelec']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [90]:
title = ('cstrnidrt', 'wsctbn') # water and sewage contribution
byname = '상수도분담금'
cstrnidrt['wsctbn'] = 163
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wsctbn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [91]:
title = ('cstrnidrt', 'dsgncst') # design cost
byname = '설계비'
cstrnidrt['dsgncst'] = 624
tmp_ary = [[idx.loan[0], cstrnidrt['dsgncst']]]
# 16,327평 x 38천원
cost.inptcst(title, byname, scdddf=tmp_ary)

In [92]:
title = ('cstrnidrt', 'lcnscst') # license cost
byname = '인허가비용'
cstrnidrt['lcnscst'] = 528
tmp_ary = [[idx.loan[0], cstrnidrt['lcnscst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [93]:
title = ('cstrnidrt', 'spvsn') # supervision cost
byname = '감리비'
cstrnidrt['spvsn'] = 490 # 16,327평 x 30천원, 월별 분할 부과
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[x, cstrnidrt['spvsn'] / tmp_len] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [94]:
cost.cstrnidrt = cstrnidrt

### 5) Marketing Costs

In [95]:
mrktg = {}

In [96]:
title = ('mrktg', 'rentagncy') # rent agency cost
byname = '임대대행수수료'
mrktg['rentagncy'] = 1_115
tmp_ary = [[idx.prjt[-1], mrktg['rentagncy']]]
# 임대계약 실행시 월 임대료의 2개월치 지급
# 1개월치 임대료 517백만원 가정
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [97]:
title = ('mrktg', 'salescsltg') # sales consulting fee
byname = '매각컨설팅수수료'
mrktg['salescsltg'] = 1_000
tmp_ary = [[idx.loan[0], mrktg['salescsltg']]]
# 추정매각가 x 0.8%
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [98]:
title = ('mrktg', 'advtsmnt') # advertisement and promotion cost
byname = '광고홍보비'
mrktg['advtsmnt'] = 500
tmp_ary = [[idx.locval(2022, 6), mrktg['advtsmnt'] * 0.5],
           [idx.locval(2023, 6), mrktg['advtsmnt'] * 0.5]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [99]:
cost.mrktg = mrktg

### 6) Tax and Utility bills(제세공과금)

In [100]:
title = ('taxutlt', 'prpttax') # property tax
byname = '재산세종부세'
tmp_ary = [[idx.locval(2022, 6), 37],
           [idx.locval(2023, 6), 37]]
# 5,590 x 0.62% 2년
cost.inptcst(title, byname, scdddf=tmp_ary)

In [101]:
title = ('taxutlt', 'prsvtntax') # preservation registration fee
byname = '보존등기비'
tmp_ary = [[idx.cstrn[-1], 2_866]]
# 건물 취득비용 x 3.40%(취득세 2.8%, 농특세 0.2%, 교육세 0.16%, 법무사 0.24%)
cost.inptcst(title, byname, scdddf=tmp_ary)

### 7) Additional Costs

In [102]:
title = ('addtnl', 'pmfee') # Additional expense, PM fee
byname = 'PM수수료'
tmp_ary = [[idx.loan[0], 200]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [103]:
title = ('addtnl', 'oprtgcst') # company operating cost
byname = '운영비'
unt_amt = 30 # 3,000만원/월
tmp_idx = idx.loan.index
tmp_ary = [[x, unt_amt] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [104]:
title = ('addtnl', 'rsrvfund') # reserve fund
byname = '예비비'
tmp_ary = [[idx.locval(2022, 6), 940],
           [idx.locval(2023, 6), 939]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [105]:
title = ('addtnl', 'trustcst') # trust fee
byname = '신탁수수료'
tmp_ary = [[idx.loan[0], 1_879]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [106]:
title = ('addtnl', 'csltcst') # consulting fee
byname = '사평감평용역비'
tmp_ary = [[idx.prjt[0], 10],
           [idx.loan[0], 140]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [107]:
title = ('addtnl', 'legalcst') # legal advice fee
byname = '법률자문'
tmp_ary = [[idx.loan[0], 40]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 8) Financing Costs

In [108]:
title = ('fncg', 'arngmnt') # financing arrangement fee
byname = '금융주관수수료'
tmp_rate = 0.02 #2.0%
tmp_amt = sum(loan.amt_ntnl)
tmp_ary = [[idx.loan[0], tmp_amt * tmp_rate]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [109]:
title = ('fncg', 'spcoprtg') # spc operating cost
byname = 'SPC유동화비용'
tmp_ary = [[idx.loan[0], 66]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [110]:
title = ('fncg', 'agntbank') # agent banking fee
byname = '대리금융기관'
tmp_ary = [[idx.locval(2022, 1), 30],
           [idx.locval(2023, 1), 30]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 9) Cost Matrix

In [111]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.add_scdd[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].add_scdd[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg nhbond jdclcst tax_aqstn  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00   0.00    0.00         0     35         0      0
2022-01-31  13,500  91.50  35.89   14.50       675  2,436         0      0
2022-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2022-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-10-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-01-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2023-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-10-31       0   0.00   0.00    0.00         0  2,436       980    163
2023-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2024-01-31       0   0.00   0.00    0.00         0      0         0      0
2024-02-29       0   0.00   0.00    0.00         0      0         0      0
2024-03-31       0   0.00   0.00    0.00         0      0         0      0
2024-04-30       0   0.00   0.00    0.00         0      0         0      0
2024-05-31       0   0.00   0.00    0.00         0      0         0      0
2024-06-30       0   0.00   0.00    0.00         0      0         0      0
2024-07-31       0   0.00   0.00    0.00         0      0         0      0
2024-08-31       0   0.00   0.00    0.00         0      0         0      0
2024-09-30       0   0.00   0.00    0.00         0      0         0      0
2024-10-31       0   0.00   0.00    0.00         0      0         0      0
2024-11-30       0   0.00   0.00    0.00         0  6,500         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0      1,000        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,115          0        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                       sum
           arngmnt spcoprtg agntbank     sum
2021-12-31       0     0.00     0.00   1,084
2022-01-31   1,940    66.00    30.00  23,251
2022-02-28       0     0.00     0.00   2,486
2022-03-31       0     0.00     0.00   2,486
2022-04-30       0     0.00     0.00   2,486
2022-05-31       0     0.00     0.00   2,486
2022-06-30       0     0.00     0.00   3,713
2022-07-31       0     0.00     0.00   2,486
2022-08-31       0     0.00     0.00   2,486
2022-09-30       0     0.00     0.00   2,486
2022-10-31       0     0.00     0.00   2,486
2022-11-30       0     0.00     0.00   2,486
2022-12-31       0     0.00     0.00   2,486
2023-01-31       0     0.00    30.00   2,516
2023-02-28       0     0.00     0.00   2,486
2023-03-31       0     0.00     0.00   2,486
2023-04-30       0     0.00     0.00   2,486
2023-05-31       0     0.00     0.00   2,486
2023-06-30       0     0.00     0.00   3,712
2023-07-31       0     0.00     0.00   2,486
2023-08-31       0     0.00     0.00   2,486
2023-09-30       0     0.00     0.00   2,486
2023-10-31       0     0.00     0.00   3,629
2023-11-30       0     0.00     0.00   2,486
2023-12-31       0     0.00     0.00   5,352
2024-01-31       0     0.00     0.00      30
2024-02-29       0     0.00     0.00      30
2024-03-31       0     0.00     0.00      30
2024-04-30       0     0.00     0.00      30
2024-05-31       0     0.00     0.00      30
2024-06-30       0     0.00     0.00      30
2024-07-31       0     0.00     0.00       0
2024-08-31       0     0.00     0.00       0
2024-09-30       0     0.00     0.00       0
2024-10-31       0     0.00     0.00       0
2024-11-30       0     0.00     0.00   7,615

In [112]:
cost_df.sum()

lnd        prchs         14500.000000
           brkrg           130.500000
           nhbond           35.887500
           jdclcst          14.500000
           tax_aqstn       675.320825
cstrn      cstrn         65000.000000
cstrnidrt  wtrelec         980.000000
           wsctbn          163.000000
           dsgncst         624.000000
           lcnscst         528.000000
           spvsn           490.000000
mrktg      rentagncy      1115.000000
           salescsltg     1000.000000
           advtsmnt        500.000000
taxutlt    prpttax          74.000000
           prsvtntax      2866.000000
addtnl     pmfee           200.000000
           oprtgcst        900.000000
           rsrvfund       1879.000000
           trustcst       1879.000000
           csltcst         150.000000
           legalcst         40.000000
fncg       arngmnt        1940.000000
           spcoprtg         66.000000
           agntbank         60.000000
sum        sum           95810.208325
dtype: float64

# Pickling Assumption Data

In [117]:
case_asmptn = {'area': area,
               'astn': astn,
               'idx': idx,
               'equity': equity,
               'loan': loan,
               'sales': sales,
               'cost': cost}

In [124]:
with open('case/asmptn.pickle', 'wb') as fw:
    pickle.dump(loan, fw)

KeyError: '__getstate__'

In [121]:
astn

In [125]:
loan