In [8]:
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import date

In [9]:
import cafle as cf
from cafle.genfunc import rounding as R

In [11]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"),
      pd.get_option("display.max_rows"))

40 200

In [13]:
class Area_pickle:
    def __init__(self, areadf=None, mtrxm2=None, mtrxpy=None):
        self.areadf = areadf
        self.mtrxm2 = mtrxm2
        self.mtrxpy = mtrxpy

In [14]:
with open("data/area.pickle", "rb") as fr:
    data = pickle.load(fr)

In [15]:
data.areadf

,name,byname,floor,exclsv,ttlfloor,area_m2,area_py,area
0,cldstrg,저온창고,b1,exclsv,ttlfloor,8481.27,2565.58,"(8481.27, 2565.58)"
1,office,사무실,b1,exclsv,ttlfloor,685.55,207.38,"(685.55, 207.38)"
2,canopy,캐노피,b1,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
3,stair,계단실,b1,exclsv,ttlfloor,197.61,59.78,"(197.61, 59.78)"
4,berth,Berth,b1,exclsv,ttlfloor,1610.59,487.20,"(1610.59, 487.2)"
5,mchnrm,기계실,b1,exclsv,ttlfloor,1731.67,523.83,"(1731.67, 523.83)"
6,passage,상하차통로,b1,common,ttlfloor,2302.99,696.65,"(2302.99, 696.65)"
7,ramp,램프,b1,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"
8,cldstrg,저온창고,f1,exclsv,ttlfloor,9526.66,2881.81,"(9526.66, 2881.81)"
9,office,사무실,f1,exclsv,ttlfloor,289.05,87.44,"(289.05, 87.44)"
10,canopy,캐노피,f1,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
11,stair,계단실,f1,exclsv,ttlfloor,219.51,66.40,"(219.51, 66.4)"
12,berth,Berth,f1,exclsv,nonfloor,870.96,263.47,"(870.96, 263.47)"
13,mchnrm,기계실,f1,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
14,passage,상하차통로,f1,common,nonfloor,1737.88,525.71,"(1737.88, 525.71)"
15,ramp,램프,f1,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"
16,nmlstrg,상온창고,f2,exclsv,ttlfloor,8665.99,2621.46,"(8665.99, 2621.46)"
17,office,사무실,f2,exclsv,ttlfloor,243.80,73.75,"(243.8, 73.75)"
18,canopy,캐노피,f2,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
19,stair,계단실,f2,exclsv,ttlfloor,241.00,72.90,"(241.0, 72.9)"
20,berth,Berth,f2,exclsv,ttlfloor,1576.62,476.93,"(1576.62, 476.93)"
21,mchnrm,기계실,f2,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
22,passage,상하차통로,f2,common,ttlfloor,2213.74,669.66,"(2213.74, 669.66)"
23,ramp,램프,f2,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"
24,nmlstrg,상온창고,f3,exclsv,ttlfloor,8920.76,2698.53,"(8920.76, 2698.53)"
25,office,사무실,f3,exclsv,ttlfloor,75.77,22.92,"(75.77, 22.92)"
26,canopy,캐노피,f3,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
27,stair,계단실,f3,exclsv,ttlfloor,219.51,66.40,"(219.51, 66.4)"
28,berth,Berth,f3,exclsv,ttlfloor,1289.95,390.21,"(1289.95, 390.21)"
29,mchnrm,기계실,f3,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
30,passage,상하차통로,f3,common,nonfloor,1849.31,559.42,"(1849.31, 559.42)"
31,ramp,램프,f3,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"
32,nmlstrg,상온창고,f4,exclsv,ttlfloor,4621.30,1397.94,"(4621.3, 1397.94)"
33,office,사무실,f4,exclsv,ttlfloor,64.52,19.52,"(64.52, 19.52)"
34,canopy,캐노피,f4,exclsv,ttlfloor,672.06,203.30,"(672.06, 203.3)"
35,stair,계단실,f4,exclsv,ttlfloor,125.16,37.86,"(125.16, 37.86)"
36,berth,Berth,f4,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
37,mchnrm,기계실,f4,exclsv,ttlfloor,0.00,0.00,"(0.0, 0.0)"
38,passage,상하차통로,f4,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"
39,ramp,램프,f4,common,ttlfloor,0.00,0.00,"(0.0, 0.0)"