In [344]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [345]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [346]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), 
      pd.get_option("display.max_rows"))

40 200

# Introduction

* Logistic center development

# Initial Setting

In [347]:
astn = EmptyClass()

# Input Index Data

In [348]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 30],
           ['cstrn', '2022-01', 22],
           ['loan',  '2022-01', 26],
           ['sales', '2022-01', 26]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [349]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [350]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',    67_000,     15_000,      0.015,     0.040],
           ['trb',    20_000,     20_000,      0.035,     0.060],
           ['trc',    10_000,     10_000,      0.070,     0.090]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col)

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

# 미인출잔액수수료율
loan.feeonbal_tra = 0.005

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title amt_ntnl amt_intl rate_fee rate_IR
0   tra   67,000   15,000     1.50    4.00
1   trb   20,000   20,000     3.50    6.00
2   trc   10,000   10,000     7.00    9.00

# Input Sales Data

In [351]:
# Pickling Data
with open("data/valuation.pickle", "rb") as fr:
    data_valuation = pickle.load(fr)
valuation = data_valuation['valuation_pivot']
value = valuation.loc[[('23,000', '50,000')]].values[0]
print("## Valuation Matrix ##")
display(R(valuation))

## Valuation Matrix ##

cap_rate         (4.0, 4.6) (4.1, 4.8) (4.2, 5.0) (4.3, 5.2) (4.4, 5.4)
rent
(20,000, 44,000)    118,480    114,366    110,543    106,980    103,651
(21,000, 46,000)    123,728    119,432    115,441    111,721    108,246
(22,000, 48,000)    128,976    124,499    120,339    116,463    112,840
(23,000, 50,000)    134,224    129,566    125,238    121,204    117,435
(24,000, 52,000)    139,472    134,633    130,136    125,945    122,029
(25,000, 54,000)    144,720    139,700    135,034    130,687    126,624

In [352]:
sales_value = 125_000
sales = cf.Account(idx, 'Sales')
sales.addamt(idx.sales[0], sales_value)
sales.subscdd(idx.sales[-1], sales_value)

# Input Cost Data

### 1) Set Cost Class

In [353]:
cost = cf.Cost(idx)

### 2) Land Purchase Costs

In [354]:
title = ('lnd', 'prchs') # land purchase cost
byname = '용지매입비'
tmp_ary = [[idx.locval(2021, 12),  1_000],
           [idx.locval(2022,  1), 13_500]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [355]:
title = ('lnd', 'brkrg') # land brokerage fee
byname = '부동산중개비용'
tmp_ary = [[idx.locval(2021, 12),  39],
           [idx.locval(2022,  1),  91]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [356]:
title = ('lnd', 'tax_aqstn') # land acquisition and registration tax
byname = '취등록세'
tmp_ary = [[idx.locval(2022, 1), 675]]
# 토지매매대금 x 취득세 4.0%, 농특세 0.2%, 교육세 0.4%
cost.inptcst(title, byname, scdddf=tmp_ary)

In [357]:
title = ('lnd', 'nhbond') # national housing bond
byname = '국민주택채권'
tmp_ary = [[idx.locval(2022, 1), 36]]
# 토지매매대금 x 매입률 4.5% x 본인부담율 5.5%
cost.inptcst(title, byname, scdddf=tmp_ary)

In [358]:
title = ('lnd', 'jdclcst') # judicial scrivener cost
byname = '법무사비용'
tmp_ary = [[idx.locval(2022, 1), 15]]
# 토지매매대금 x 0.1%
cost.inptcst(title, byname, scdddf=tmp_ary)

### 3) Construction Costs

In [359]:
cstrn = {}
cstrn['dmltn'] = 35 + 1_180 # 철거비: 3,550평 x 342천원, 온천공 폐공공사 포함
cstrn['civil'] = 8_490 # 토목공사: 16,327평 x 520천원
cstrn['nml_fclt'] = 9_311 * 2.66 # 상온시설: 9,311평 x 2,660천원
cstrn['cld_fclt'] = 8_365 * 3.66 # 저온시설: 8,365평 x 3,660천원
cstrn_sum = round(sum([cstrn[key] for key in cstrn]))

retention_rate = 0.1
cstrn_intl = 35
cstrn_prd = cstrn_sum * (1-retention_rate) - cstrn_intl
cstrn_rttn = cstrn_sum * retention_rate

print(f"Total construction cost:   {cstrn_sum:>7,.0f}")
print(f"Initial construction cost: {cstrn_intl:>7,.0f}")
print(f"Period construction cost:  {cstrn_prd:>7,.0f}")
print(f"Retained construction cost:{cstrn_rttn:>7,.0f}")

Total construction cost:    65,088
Initial construction cost:      35
Period construction cost:   58,544
Retained construction cost:  6,509

In [360]:
title = ('cstrn', 'cstrn') # construction cost
byname = '공사비'
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[idx.prjt[0], cstrn_intl]]
tmp_ary.extend([[x, cstrn_prd / tmp_len] for x in tmp_idx])
tmp_ary.append([idx.prjt[-1], cstrn_rttn])

cost.inptcst(title, byname, scdddf=tmp_ary)

### 4) Indirect Construction Costs

In [361]:
title = ('cstrnidrt', 'wtrelec') # water supply, electricity etc. 
byname = '각종인입비'
tmp_ary = [[idx.locval(2023, 10), 980]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [362]:
title = ('cstrnidrt', 'wsctbn') # water and sewage contribution
byname = '상수도분담금'
tmp_ary = [[idx.locval(2023, 10), 163]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [363]:
title = ('cstrnidrt', 'dsgncst') # design cost
byname = '설계비'
tmp_ary = [[idx.locval(2022, 1), 624]]
# 16,327평 x 38천원
cost.inptcst(title, byname, scdddf=tmp_ary)

In [364]:
title = ('cstrnidrt', 'lcnscst') # license cost
byname = '인허가비용'
tmp_ary = [[idx.locval(2022, 1), 528]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [365]:
title = ('cstrnidrt', 'spvsn') # supervision cost
byname = '감리비'
ttl_amt = 490 # 16,327평 x 30천원, 월별 분할 부과
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[x, ttl_amt / tmp_len] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 5) Marketing Costs

In [366]:
title = ('mrktg', 'rentagncy') # rent agency cost
byname = '임대대행수수료'
tmp_ary = [[idx.prjt[-1], 1_070]]
# 임대계약 실행시 월 임대료의 2개월치 지급
# 1개월치 임대료 517백만원 가정
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [367]:
title = ('mrktg', 'salescsltg') # sales consulting fee
byname = '매각컨설팅수수료'
tmp_ary = [[idx.prjt[-1], 1_002]]
# 추정매각가 x 0.8%
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [368]:
title = ('mrktg', 'advtsmnt') # advertisement and promotion cost
byname = '광고홍보비'
tmp_ary = [[idx.locval(2022, 6), 250],
           [idx.locval(2023, 6), 250]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 6) Tax and Utility bills(제세공과금)

In [369]:
title = ('taxutlt', 'prpttax') # property tax
byname = '재산세종부세'
tmp_ary = [[idx.locval(2022, 6), 37],
           [idx.locval(2023, 6), 37]]
# 5,590 x 0.62% 2년
cost.inptcst(title, byname, scdddf=tmp_ary)

In [370]:
title = ('taxutlt', 'prsvtntax') # preservation registration fee
byname = '보존등기비'
tmp_ary = [[idx.cstrn.index[-1], 2_866]]
# 건물 취득비용 x 3.40%(취득세 2.8%, 농특세 0.2%, 교육세 0.16%, 법무사 0.24%)
cost.inptcst(title, byname, scdddf=tmp_ary)

### 7) Additional Costs

In [371]:
title = ('addtnl', 'pmfee') # Additional expense, PM fee
byname = 'PM수수료'
tmp_ary = [[idx.locval(2022, 1), 200]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [372]:
title = ('addtnl', 'oprtgcst') # company operating cost
unt_amt = 30 # 3,000만원/월
tmp_idx = idx.loan.index
tmp_ary = [[x, unt_amt] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [373]:
title = ('addtnl', 'rsrvfund') # reserve fund
byname = '예비비'
tmp_ary = [[idx.locval(2022, 6), 940],
           [idx.locval(2023, 6), 939]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [374]:
title = ('addtnl', 'trustcst') # trust fee
byname = '신탁수수료'
tmp_ary = [[idx.locval(2022, 1), 1_879]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [375]:
title = ('addtnl', 'csltcst') # consulting fee
byname = '사평감평용역비'
tmp_ary = [[idx.locval(2021, 12), 10],
           [idx.locval(2022, 1), 140]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [376]:
title = ('addtnl', 'legalcst') # legal advice fee
byname = '법률자문'
tmp_ary = [[idx.locval(2022, 1), 40]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 8) Financing Costs

In [377]:
title = ('fncg', 'arngmnt') # financing arrangement fee
byname = '금융주관수수료'
tmp_rate = 0.02 #2.0%
tmp_amt = sum(loan.amt_ntnl)
tmp_ary = [[idx.locval(2022, 1), tmp_amt * tmp_rate]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [378]:
title = ('fncg', 'spcoprtg') # spc operating cost
byname = 'SPC유동화비용'
tmp_ary = [[idx.locval(2022, 1), 66]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [379]:
title = ('fncg', 'agntbank') # agent banking fee
byname = '대리금융기관'
tmp_ary = [[idx.locval(2022, 1), 30],
           [idx.locval(2023, 1), 30]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [380]:
title = ('fncg', 'prepchs_fee') # pre-purchase agreement fee
byname = '선매입약정수수료'
tmp_ary = [[idx.locval(2022, 1), 300]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 9) Cost Matrix

In [381]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.add_scdd[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].add_scdd[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,545         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,545         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,545         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,545       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-12-31       0   0.00         0   0.00    0.00      0         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  21.30         0          0        0    0.00
2022-02-28       0       0  21.30         0          0        0    0.00
2022-03-31       0       0  21.30         0          0        0    0.00
2022-04-30       0       0  21.30         0          0        0    0.00
2022-05-31       0       0  21.30         0          0        0    0.00
2022-06-30       0       0  21.30         0          0      250   37.00
2022-07-31       0       0  21.30         0          0        0    0.00
2022-08-31       0       0  21.30         0          0        0    0.00
2022-09-30       0       0  21.30         0          0        0    0.00
2022-10-31       0       0  21.30         0          0        0    0.00
2022-11-30       0       0  21.30         0          0        0    0.00
2022-12-31       0       0  21.30         0          0        0    0.00
2023-01-31       0       0  21.30         0          0        0    0.00
2023-02-28       0       0  21.30         0          0        0    0.00
2023-03-31       0       0  21.30         0          0        0    0.00
2023-04-30       0       0  21.30         0          0        0    0.00
2023-05-31       0       0  21.30         0          0        0    0.00
2023-06-30       0       0  21.30         0          0      250   37.00
2023-07-31       0       0  21.30         0          0        0    0.00
2023-08-31       0       0  21.30         0          0        0    0.00
2023-09-30       0       0  21.30         0          0        0    0.00
2023-10-31       0       0  21.30         0          0        0    0.00
2023-11-30       0       0  21.30         0          0        0    0.00
2023-12-31       0       0   0.00         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30     2,866      0    30.00        0        0       0     0.00
2023-12-31         0      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0     0.00        0        0       0     0.00
2024-05-31         0      0     0.00        0        0       0     0.00
2024-06-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   1,940    66.00    30.00         300  22,661
2022-02-28       0     0.00     0.00           0   2,597
2022-03-31       0     0.00     0.00           0   2,597
2022-04-30       0     0.00     0.00           0   2,597
2022-05-31       0     0.00     0.00           0   2,597
2022-06-30       0     0.00     0.00           0   3,824
2022-07-31       0     0.00     0.00           0   2,597
2022-08-31       0     0.00     0.00           0   2,597
2022-09-30       0     0.00     0.00           0   2,597
2022-10-31       0     0.00     0.00           0   2,597
2022-11-30       0     0.00     0.00           0   2,597
2022-12-31       0     0.00     0.00           0   2,597
2023-01-31       0     0.00    30.00           0   2,627
2023-02-28       0     0.00     0.00           0   2,597
2023-03-31       0     0.00     0.00           0   2,597
2023-04-30       0     0.00     0.00           0   2,597
2023-05-31       0     0.00     0.00           0   2,597
2023-06-30       0     0.00     0.00           0   3,823
2023-07-31       0     0.00     0.00           0   2,597
2023-08-31       0     0.00     0.00           0   2,597
2023-09-30       0     0.00     0.00           0   2,597
2023-10-31       0     0.00     0.00           0   3,740
2023-11-30       0     0.00     0.00           0   5,463
2023-12-31       0     0.00     0.00           0      30
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0       0
2024-05-31       0     0.00     0.00           0       0
2024-06-30       0     0.00     0.00           0   8,581

In [382]:
cost_df.sum()

lnd        prchs          14500.0
           brkrg            130.0
           tax_aqstn        675.0
           nhbond            36.0
           jdclcst           15.0
cstrn      cstrn          65088.0
cstrnidrt  wtrelec          980.0
           wsctbn           163.0
           dsgncst          624.0
           lcnscst          528.0
           spvsn            490.0
mrktg      rentagncy       1070.0
           salescsltg      1002.0
           advtsmnt         500.0
taxutlt    prpttax           74.0
           prsvtntax       2866.0
addtnl     pmfee            200.0
           oprtgcst         810.0
           rsrvfund        1879.0
           trustcst        1879.0
           csltcst          150.0
           legalcst          40.0
fncg       arngmnt         1940.0
           spcoprtg          66.0
           agntbank          60.0
           prepchs_fee      300.0
sum        sum            96065.0
dtype: float64

# Execution Cash Flow

In [383]:
acc = cf.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [384]:
# Execute cash flow
for idxno in idx.index:
    #### Loans: set loan withdrawble ####
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno, idx[0])
    loan.tra.set_wtdrbl_intldate(idxno)
    loan.trb.set_wtdrbl_intldate(idxno)
    loan.trc.set_wtdrbl_intldate(idxno)
    
    #### Cash Inflow: cash inflow from sales or rent etc. ####
    salesamt = sales.sub_scdd[idxno]
    if salesamt > 0:
        sales.send(idxno, salesamt, acc.repay)
    
    #### Expected Costs: calculate expected costs ####
    # calculate operating costs
    oprtg_cost = cost['all'].add_scdd[idxno]

    # calculate financial costs
    for trch, loaneach in loan.dct.items():
        if idxno == loaneach.idxfn[0]:
            loaneach.fee.addscdd(idxno, loaneach.fee.amt)
        if all([loaneach.is_wtdrbl, not loaneach.is_repaid]):
            #tmp_ntnl = -loaneach.ntnl.bal_strt[idxno]
            #tmp_IRamt = tmp_ntnl * loaneach.IR.rate_cycle
            loaneach.IR.addscdd(idxno, loaneach.IRamt_topay(idxno))
    
    # calculate financial fee on balance on Tr.A
    ntnl_sub_rsdl_tra = loan.tra.ntnl_sub_rsdl(idxno)
    feeonbal = ntnl_sub_rsdl_tra * loan.feeonbal_tra / 12
    loan.tra.fee.addscdd(idxno, feeonbal)
    
    # gathering financial costs
    fncl_fee = loan.ttl.fee.add_scdd[idxno]
    fncl_IR = loan.ttl.IR.add_scdd[idxno]

    cost_ttl = oprtg_cost + fncl_fee + fncl_IR
    
    
    #### Loans: withdraw loan ####
    # calculate the amount to withdraw
    amt_rqrd = acc.oprtg.amt_rqrd_excess(idxno, cost_ttl)
    
    # withdraw loan amount
    amt_wtdrw = 0
    amt_wtdrw += equity.wtdrw(idxno, equity.amt_intl, acc.oprtg)
    if idxno == idx.loan[0]:
        amt_wtdrw += loan.trc.wtdrw(idxno, loan.trc.amt_intl, acc.oprtg)
        amt_wtdrw += loan.trb.wtdrw(idxno, loan.trb.amt_intl, acc.oprtg)
        amt_wtdrw += loan.tra.wtdrw(idxno, loan.tra.amt_intl, acc.oprtg)
    
    amt_rqrd = max(amt_rqrd - amt_wtdrw, 0)
    amt_rqrd = max(amt_rqrd - loan.trc.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    amt_rqrd = max(amt_rqrd - loan.trb.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    amt_rqrd = max(amt_rqrd - loan.tra.wtdrw(idxno, amt_rqrd, acc.oprtg), 0)

    
    #### Costs: 토지비, 공사비 등 각종 비용 지출 ####
    for cst_name, cst_acc in cost['all'].dct.items():
        amt_scdd = cst_acc.add_scdd[idxno]
        acc.oprtg.send(idxno, amt_scdd, cst_acc)
        
    
    #### Loans: pay financial cost ####
    acc.oprtg.send(idxno, loan.tra.fee.add_scdd[idxno], loan.tra.fee)
    acc.oprtg.send(idxno, loan.trb.fee.add_scdd[idxno], loan.trb.fee)
    acc.oprtg.send(idxno, loan.trc.fee.add_scdd[idxno], loan.trc.fee)
    
    acc.oprtg.send(idxno, loan.tra.IR.add_scdd[idxno], loan.tra.IR)
    acc.oprtg.send(idxno, loan.trb.IR.add_scdd[idxno], loan.trb.IR)
    acc.oprtg.send(idxno, loan.trc.IR.add_scdd[idxno], loan.trc.IR)
    
    
    #### Loans: repay loan amount ####
    if idxno >= loan.idxfn[-1]: # 만기 도래 여부 확인
        amtrpy = loan.tra.repay_amt(idxno, acc.repay.bal_end[idxno])
        acc.repay.send(idxno, amtrpy, loan.tra.ntnl)
        loan.tra.set_repaid(idxno)
                
        if loan.tra.is_repaid:
            amtrpy = loan.trb.repay_amt(idxno, acc.repay.bal_end[idxno])
            acc.repay.send(idxno, amtrpy, loan.trb.ntnl)
            loan.trb.set_repaid(idxno)
            
        if loan.trb.is_repaid:
            amtrpy = loan.trc.repay_amt(idxno, acc.repay.bal_end[idxno])
            acc.repay.send(idxno, amtrpy, loan.trc.ntnl)
            loan.trc.set_repaid(idxno)
            
        if loan.trc.is_repaid:
            acc.repay.send(idxno, acc.repay.bal_end[idxno], acc.oprtg)
        
    
    #### Loans: Set back loan unwithdrawble at maturity ####
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    loan.tra.setback_wtdrbl_mtrt(idxno)
    loan.trb.setback_wtdrbl_mtrt(idxno)
    loan.trc.setback_wtdrbl_mtrt(idxno)

# Analysis of Results

### 1) Accounts

In [385]:
print("## Operating Account ##")
display(R(acc.oprtg.df))

## Operating Account ##

           add_scdd sub_scdd bal_strt amt_add amt_sub bal_end
2021-12-31     0.00     0.00        0   1,300   1,084     216
2022-01-31     0.00     0.00      216  45,000  25,094  20,122
2022-02-28     0.00     0.00   20,122       0   2,843  17,279
2022-03-31     0.00     0.00   17,279       0   2,843  14,436
2022-04-30     0.00     0.00   14,436       0   2,843  11,592
2022-05-31     0.00     0.00   11,592       0   2,843   8,749
2022-06-30     0.00     0.00    8,749       0   4,070   4,679
2022-07-31     0.00     0.00    4,679       0   2,843   1,835
2022-08-31     0.00     0.00    1,835   1,100   2,843      92
2022-09-30     0.00     0.00       92   2,800   2,847      45
2022-10-31     0.00     0.00       45   2,900   2,855      90
2022-11-30     0.00     0.00       90   2,800   2,863      27
2022-12-31     0.00     0.00       27   2,900   2,871      56
2023-01-31     0.00     0.00       56   2,900   2,910      46
2023-02-28     0.00     0.00       46   2,900   2,888      58
2023-03-31     0.00     0.00       58   2,900   2,897      61
2023-04-30     0.00     0.00       61   2,900   2,905      56
2023-05-31     0.00     0.00       56   2,900   2,914      42
2023-06-30     0.00     0.00       42   4,200   4,148      94
2023-07-31     0.00     0.00       94   2,900   2,934      60
2023-08-31     0.00     0.00       60   2,900   2,943      17
2023-09-30     0.00     0.00       17   3,000   2,951      66
2023-10-31     0.00     0.00       66   4,100   4,103      63
2023-11-30     0.00     0.00       63   5,800   5,838      25
2023-12-31     0.00     0.00       25     400     422       2
2024-01-31     0.00     0.00        2     500     423      79
2024-02-29     0.00     0.00       79     400     425      54
2024-03-31     0.00     0.00       54  28,800     426  28,428
2024-04-30     0.00     0.00   28,428       0       0  28,428
2024-05-31     0.00     0.00   28,428       0       0  28,428
2024-06-30     0.00     0.00   28,428       0   8,581  19,847

In [386]:
print("## Sales Account ##")
display(R(sales.df))

## Sales Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub  bal_end
2021-12-31     0.00        0        0        0        0        0
2022-01-31     0.00        0        0  125,000        0  125,000
2022-02-28     0.00        0  125,000        0        0  125,000
2022-03-31     0.00        0  125,000        0        0  125,000
2022-04-30     0.00        0  125,000        0        0  125,000
2022-05-31     0.00        0  125,000        0        0  125,000
2022-06-30     0.00        0  125,000        0        0  125,000
2022-07-31     0.00        0  125,000        0        0  125,000
2022-08-31     0.00        0  125,000        0        0  125,000
2022-09-30     0.00        0  125,000        0        0  125,000
2022-10-31     0.00        0  125,000        0        0  125,000
2022-11-30     0.00        0  125,000        0        0  125,000
2022-12-31     0.00        0  125,000        0        0  125,000
2023-01-31     0.00        0  125,000        0        0  125,000
2023-02-28     0.00        0  125,000        0        0  125,000
2023-03-31     0.00        0  125,000        0        0  125,000
2023-04-30     0.00        0  125,000        0        0  125,000
2023-05-31     0.00        0  125,000        0        0  125,000
2023-06-30     0.00        0  125,000        0        0  125,000
2023-07-31     0.00        0  125,000        0        0  125,000
2023-08-31     0.00        0  125,000        0        0  125,000
2023-09-30     0.00        0  125,000        0        0  125,000
2023-10-31     0.00        0  125,000        0        0  125,000
2023-11-30     0.00        0  125,000        0        0  125,000
2023-12-31     0.00        0  125,000        0        0  125,000
2024-01-31     0.00        0  125,000        0        0  125,000
2024-02-29     0.00        0  125,000        0        0  125,000
2024-03-31     0.00  125,000  125,000        0  125,000        0
2024-04-30     0.00        0        0        0        0        0
2024-05-31     0.00        0        0        0        0        0
2024-06-30     0.00        0        0        0        0        0

In [387]:
print("## Repayment Account ##")
display(R(acc.repay.df))

## Repayment Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub bal_end
2021-12-31     0.00     0.00     0.00        0        0    0.00
2022-01-31     0.00     0.00     0.00        0        0    0.00
2022-02-28     0.00     0.00     0.00        0        0    0.00
2022-03-31     0.00     0.00     0.00        0        0    0.00
2022-04-30     0.00     0.00     0.00        0        0    0.00
2022-05-31     0.00     0.00     0.00        0        0    0.00
2022-06-30     0.00     0.00     0.00        0        0    0.00
2022-07-31     0.00     0.00     0.00        0        0    0.00
2022-08-31     0.00     0.00     0.00        0        0    0.00
2022-09-30     0.00     0.00     0.00        0        0    0.00
2022-10-31     0.00     0.00     0.00        0        0    0.00
2022-11-30     0.00     0.00     0.00        0        0    0.00
2022-12-31     0.00     0.00     0.00        0        0    0.00
2023-01-31     0.00     0.00     0.00        0        0    0.00
2023-02-28     0.00     0.00     0.00        0        0    0.00
2023-03-31     0.00     0.00     0.00        0        0    0.00
2023-04-30     0.00     0.00     0.00        0        0    0.00
2023-05-31     0.00     0.00     0.00        0        0    0.00
2023-06-30     0.00     0.00     0.00        0        0    0.00
2023-07-31     0.00     0.00     0.00        0        0    0.00
2023-08-31     0.00     0.00     0.00        0        0    0.00
2023-09-30     0.00     0.00     0.00        0        0    0.00
2023-10-31     0.00     0.00     0.00        0        0    0.00
2023-11-30     0.00     0.00     0.00        0        0    0.00
2023-12-31     0.00     0.00     0.00        0        0    0.00
2024-01-31     0.00     0.00     0.00        0        0    0.00
2024-02-29     0.00     0.00     0.00        0        0    0.00
2024-03-31     0.00     0.00     0.00  125,000  125,000    0.00
2024-04-30     0.00     0.00     0.00        0        0    0.00
2024-05-31     0.00     0.00     0.00        0        0    0.00
2024-06-30     0.00     0.00     0.00        0        0    0.00

### 2) Costs

In [388]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.amt_add[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].amt_add[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,545         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,545         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,545         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,545         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,545         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,545         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,545       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,545         0      0
2023-12-31       0   0.00         0   0.00    0.00      0         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  21.30         0          0        0    0.00
2022-02-28       0       0  21.30         0          0        0    0.00
2022-03-31       0       0  21.30         0          0        0    0.00
2022-04-30       0       0  21.30         0          0        0    0.00
2022-05-31       0       0  21.30         0          0        0    0.00
2022-06-30       0       0  21.30         0          0      250   37.00
2022-07-31       0       0  21.30         0          0        0    0.00
2022-08-31       0       0  21.30         0          0        0    0.00
2022-09-30       0       0  21.30         0          0        0    0.00
2022-10-31       0       0  21.30         0          0        0    0.00
2022-11-30       0       0  21.30         0          0        0    0.00
2022-12-31       0       0  21.30         0          0        0    0.00
2023-01-31       0       0  21.30         0          0        0    0.00
2023-02-28       0       0  21.30         0          0        0    0.00
2023-03-31       0       0  21.30         0          0        0    0.00
2023-04-30       0       0  21.30         0          0        0    0.00
2023-05-31       0       0  21.30         0          0        0    0.00
2023-06-30       0       0  21.30         0          0      250   37.00
2023-07-31       0       0  21.30         0          0        0    0.00
2023-08-31       0       0  21.30         0          0        0    0.00
2023-09-30       0       0  21.30         0          0        0    0.00
2023-10-31       0       0  21.30         0          0        0    0.00
2023-11-30       0       0  21.30         0          0        0    0.00
2023-12-31       0       0   0.00         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30     2,866      0    30.00        0        0       0     0.00
2023-12-31         0      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0     0.00        0        0       0     0.00
2024-05-31         0      0     0.00        0        0       0     0.00
2024-06-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   1,940    66.00    30.00         300  22,661
2022-02-28       0     0.00     0.00           0   2,597
2022-03-31       0     0.00     0.00           0   2,597
2022-04-30       0     0.00     0.00           0   2,597
2022-05-31       0     0.00     0.00           0   2,597
2022-06-30       0     0.00     0.00           0   3,824
2022-07-31       0     0.00     0.00           0   2,597
2022-08-31       0     0.00     0.00           0   2,597
2022-09-30       0     0.00     0.00           0   2,597
2022-10-31       0     0.00     0.00           0   2,597
2022-11-30       0     0.00     0.00           0   2,597
2022-12-31       0     0.00     0.00           0   2,597
2023-01-31       0     0.00    30.00           0   2,627
2023-02-28       0     0.00     0.00           0   2,597
2023-03-31       0     0.00     0.00           0   2,597
2023-04-30       0     0.00     0.00           0   2,597
2023-05-31       0     0.00     0.00           0   2,597
2023-06-30       0     0.00     0.00           0   3,823
2023-07-31       0     0.00     0.00           0   2,597
2023-08-31       0     0.00     0.00           0   2,597
2023-09-30       0     0.00     0.00           0   2,597
2023-10-31       0     0.00     0.00           0   3,740
2023-11-30       0     0.00     0.00           0   5,463
2023-12-31       0     0.00     0.00           0      30
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0       0
2024-05-31       0     0.00     0.00           0       0
2024-06-30       0     0.00     0.00           0   8,581

In [389]:
print("## 필수사업비/선택적사업비 ##")
cost_initial = cost_df[:1].sum()
cost_vital = cost_df[1:-2].sum()
cost_optional = cost_df[-1:].sum()
cost_total = cost_df.sum()
R(DataFrame({'initial':cost_initial,
             'vital':cost_vital,
             'optional':cost_optional,
             'total':cost_total}))

## 필수사업비/선택적사업비 ##

                      initial   vital optional   total
lnd       prchs         1,000  13,500        0  14,500
          brkrg            39      91        0     130
          tax_aqstn         0     675        0     675
          nhbond            0      36        0      36
          jdclcst           0      15        0      15
cstrn     cstrn            35  58,544    6,509  65,088
cstrnidrt wtrelec           0     980        0     980
          wsctbn            0     163        0     163
          dsgncst           0     624        0     624
          lcnscst           0     528        0     528
          spvsn             0     490        0     490
mrktg     rentagncy         0       0    1,070   1,070
          salescsltg        0       0    1,002   1,002
          advtsmnt          0     500        0     500
taxutlt   prpttax           0      74        0      74
          prsvtntax         0   2,866        0   2,866
addtnl    pmfee             0     200        0     200
          oprtgcst          0     810        0     810
          rsrvfund          0   1,879        0   1,879
          trustcst          0   1,879        0   1,879
          csltcst          10     140        0     150
          legalcst          0      40        0      40
fncg      arngmnt           0   1,940        0   1,940
          spcoprtg          0      66        0      66
          agntbank          0      60        0      60
          prepchs_fee       0     300        0     300
sum       sum           1,084  86,400    8,581  96,065

### 3) Loan

#### 3-1) Notional Amount

In [390]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.ntnl.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.ntnl.amt_add[:]
    loan_df[(key, 'bal_end')] = item.ntnl.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                      trb                      trc          \
           amt_sub amt_add  bal_end amt_sub amt_add  bal_end amt_sub amt_add
2021-12-31       0       0        0       0       0        0       0       0
2022-01-31  15,000       0  -15,000  20,000       0  -20,000  10,000       0
2022-02-28       0       0  -15,000       0       0  -20,000       0       0
2022-03-31       0       0  -15,000       0       0  -20,000       0       0
2022-04-30       0       0  -15,000       0       0  -20,000       0       0
2022-05-31       0       0  -15,000       0       0  -20,000       0       0
2022-06-30       0       0  -15,000       0       0  -20,000       0       0
2022-07-31       0       0  -15,000       0       0  -20,000       0       0
2022-08-31   1,100       0  -16,100       0       0  -20,000       0       0
2022-09-30   2,800       0  -18,900       0       0  -20,000       0       0
2022-10-31   2,900       0  -21,800       0       0  -20,000       0       0
2022-11-30   2,800       0  -24,600       0       0  -20,000       0       0
2022-12-31   2,900       0  -27,500       0       0  -20,000       0       0
2023-01-31   2,900       0  -30,400       0       0  -20,000       0       0
2023-02-28   2,900       0  -33,300       0       0  -20,000       0       0
2023-03-31   2,900       0  -36,200       0       0  -20,000       0       0
2023-04-30   2,900       0  -39,100       0       0  -20,000       0       0
2023-05-31   2,900       0  -42,000       0       0  -20,000       0       0
2023-06-30   4,200       0  -46,200       0       0  -20,000       0       0
2023-07-31   2,900       0  -49,100       0       0  -20,000       0       0
2023-08-31   2,900       0  -52,000       0       0  -20,000       0       0
2023-09-30   3,000       0  -55,000       0       0  -20,000       0       0
2023-10-31   4,100       0  -59,100       0       0  -20,000       0       0
2023-11-30   5,800       0  -64,900       0       0  -20,000       0       0
2023-12-31     400       0  -65,300       0       0  -20,000       0       0
2024-01-31     500       0  -65,800       0       0  -20,000       0       0
2024-02-29     400       0  -66,200       0       0  -20,000       0       0
2024-03-31     400  66,600        0       0  20,000        0       0  10,000
2024-04-30       0       0        0       0       0        0       0       0
2024-05-31       0       0        0       0       0        0       0       0
2024-06-30       0       0        0       0       0        0       0       0

                        sum
            bal_end amt_sub amt_add  bal_end
2021-12-31        0       0       0        0
2022-01-31  -10,000  45,000       0  -45,000
2022-02-28  -10,000       0       0  -45,000
2022-03-31  -10,000       0       0  -45,000
2022-04-30  -10,000       0       0  -45,000
2022-05-31  -10,000       0       0  -45,000
2022-06-30  -10,000       0       0  -45,000
2022-07-31  -10,000       0       0  -45,000
2022-08-31  -10,000   1,100       0  -46,100
2022-09-30  -10,000   2,800       0  -48,900
2022-10-31  -10,000   2,900       0  -51,800
2022-11-30  -10,000   2,800       0  -54,600
2022-12-31  -10,000   2,900       0  -57,500
2023-01-31  -10,000   2,900       0  -60,400
2023-02-28  -10,000   2,900       0  -63,300
2023-03-31  -10,000   2,900       0  -66,200
2023-04-30  -10,000   2,900       0  -69,100
2023-05-31  -10,000   2,900       0  -72,000
2023-06-30  -10,000   4,200       0  -76,200
2023-07-31  -10,000   2,900       0  -79,100
2023-08-31  -10,000   2,900       0  -82,000
2023-09-30  -10,000   3,000       0  -85,000
2023-10-31  -10,000   4,100       0  -89,100
2023-11-30  -10,000   5,800       0  -94,900
2023-12-31  -10,000     400       0  -95,300
2024-01-31  -10,000     500       0  -95,800
2024-02-29  -10,000     400       0  -96,200
2024-03-31        0     400  96,600        0
2024-04-30        0       0       0        0
2024-05-31        0       0       0        0
2024-06-30        0       0       0        0

#### 3-2) Fee Amount

In [391]:
fee_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.fee.dct.items()}, index=['amt_add'])
fee_dct['sum'] = fee_dct.sum(axis=1)
R(fee_dct)

           tra  trb  trc    sum
amt_add  1,377  700  700  2,777

In [392]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.fee.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.fee.amt_add[:]
    loan_df[(key, 'bal_end')] = item.fee.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00       0
2022-01-31    0.00   1,033   1,033    0.00     700     700    0.00     700
2022-02-28    0.00      22   1,055    0.00       0     700    0.00       0
2022-03-31    0.00      22   1,076    0.00       0     700    0.00       0
2022-04-30    0.00      22   1,098    0.00       0     700    0.00       0
2022-05-31    0.00      22   1,120    0.00       0     700    0.00       0
2022-06-30    0.00      22   1,141    0.00       0     700    0.00       0
2022-07-31    0.00      22   1,163    0.00       0     700    0.00       0
2022-08-31    0.00      22   1,185    0.00       0     700    0.00       0
2022-09-30    0.00      21   1,206    0.00       0     700    0.00       0
2022-10-31    0.00      20   1,226    0.00       0     700    0.00       0
2022-11-30    0.00      19   1,245    0.00       0     700    0.00       0
2022-12-31    0.00      18   1,262    0.00       0     700    0.00       0
2023-01-31    0.00      16   1,279    0.00       0     700    0.00       0
2023-02-28    0.00      15   1,294    0.00       0     700    0.00       0
2023-03-31    0.00      14   1,308    0.00       0     700    0.00       0
2023-04-30    0.00      13   1,321    0.00       0     700    0.00       0
2023-05-31    0.00      12   1,333    0.00       0     700    0.00       0
2023-06-30    0.00      10   1,343    0.00       0     700    0.00       0
2023-07-31    0.00       9   1,352    0.00       0     700    0.00       0
2023-08-31    0.00       7   1,359    0.00       0     700    0.00       0
2023-09-30    0.00       6   1,365    0.00       0     700    0.00       0
2023-10-31    0.00       5   1,370    0.00       0     700    0.00       0
2023-11-30    0.00       3   1,374    0.00       0     700    0.00       0
2023-12-31    0.00       1   1,375    0.00       0     700    0.00       0
2024-01-31    0.00       1   1,375    0.00       0     700    0.00       0
2024-02-29    0.00       0   1,376    0.00       0     700    0.00       0
2024-03-31    0.00       0   1,376    0.00       0     700    0.00       0
2024-04-30    0.00       0   1,376    0.00       0     700    0.00       0
2024-05-31    0.00       0   1,376    0.00       0     700    0.00       0
2024-06-30    0.00       0   1,377    0.00       0     700    0.00       0

                       sum
           bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00       0       0
2022-01-31     700    0.00   2,433   2,433
2022-02-28     700    0.00      22   2,455
2022-03-31     700    0.00      22   2,476
2022-04-30     700    0.00      22   2,498
2022-05-31     700    0.00      22   2,520
2022-06-30     700    0.00      22   2,541
2022-07-31     700    0.00      22   2,563
2022-08-31     700    0.00      22   2,585
2022-09-30     700    0.00      21   2,606
2022-10-31     700    0.00      20   2,626
2022-11-30     700    0.00      19   2,645
2022-12-31     700    0.00      18   2,662
2023-01-31     700    0.00      16   2,679
2023-02-28     700    0.00      15   2,694
2023-03-31     700    0.00      14   2,708
2023-04-30     700    0.00      13   2,721
2023-05-31     700    0.00      12   2,733
2023-06-30     700    0.00      10   2,743
2023-07-31     700    0.00       9   2,752
2023-08-31     700    0.00       7   2,759
2023-09-30     700    0.00       6   2,765
2023-10-31     700    0.00       5   2,770
2023-11-30     700    0.00       3   2,774
2023-12-31     700    0.00       1   2,775
2024-01-31     700    0.00       1   2,775
2024-02-29     700    0.00       0   2,776
2024-03-31     700    0.00       0   2,776
2024-04-30     700    0.00       0   2,776
2024-05-31     700    0.00       0   2,776
2024-06-30     700    0.00       0   2,777

#### 3-3) IR Amount

In [393]:
IR_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.IR.dct.items()}, index=['amt_add'])
IR_dct['sum'] = IR_dct.sum(axis=1)
R(IR_dct)

           tra    trb    trc    sum
amt_add  3,062  2,600  1,950  7,612

In [394]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.IR.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.IR.amt_add[:]
    loan_df[(key, 'bal_end')] = item.IR.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-01-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-02-28    0.00      50      50    0.00     100     100    0.00   75.00
2022-03-31    0.00      50     100    0.00     100     200    0.00   75.00
2022-04-30    0.00      50     150    0.00     100     300    0.00   75.00
2022-05-31    0.00      50     200    0.00     100     400    0.00   75.00
2022-06-30    0.00      50     250    0.00     100     500    0.00   75.00
2022-07-31    0.00      50     300    0.00     100     600    0.00   75.00
2022-08-31    0.00      50     350    0.00     100     700    0.00   75.00
2022-09-30    0.00      54     404    0.00     100     800    0.00   75.00
2022-10-31    0.00      63     467    0.00     100     900    0.00   75.00
2022-11-30    0.00      73     539    0.00     100   1,000    0.00   75.00
2022-12-31    0.00      82     621    0.00     100   1,100    0.00   75.00
2023-01-31    0.00      92     713    0.00     100   1,200    0.00   75.00
2023-02-28    0.00     101     814    0.00     100   1,300    0.00   75.00
2023-03-31    0.00     111     925    0.00     100   1,400    0.00   75.00
2023-04-30    0.00     121   1,046    0.00     100   1,500    0.00   75.00
2023-05-31    0.00     130   1,176    0.00     100   1,600    0.00   75.00
2023-06-30    0.00     140   1,316    0.00     100   1,700    0.00   75.00
2023-07-31    0.00     154   1,470    0.00     100   1,800    0.00   75.00
2023-08-31    0.00     164   1,634    0.00     100   1,900    0.00   75.00
2023-09-30    0.00     173   1,807    0.00     100   2,000    0.00   75.00
2023-10-31    0.00     183   1,991    0.00     100   2,100    0.00   75.00
2023-11-30    0.00     197   2,188    0.00     100   2,200    0.00   75.00
2023-12-31    0.00     216   2,404    0.00     100   2,300    0.00   75.00
2024-01-31    0.00     218   2,622    0.00     100   2,400    0.00   75.00
2024-02-29    0.00     219   2,841    0.00     100   2,500    0.00   75.00
2024-03-31    0.00     221   3,062    0.00     100   2,600    0.00   75.00
2024-04-30    0.00       0   3,062    0.00       0   2,600    0.00    0.00
2024-05-31    0.00       0   3,062    0.00       0   2,600    0.00    0.00
2024-06-30    0.00       0   3,062    0.00       0   2,600    0.00    0.00

                       sum
           bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00       0       0
2022-01-31       0    0.00       0       0
2022-02-28      75    0.00     225     225
2022-03-31     150    0.00     225     450
2022-04-30     225    0.00     225     675
2022-05-31     300    0.00     225     900
2022-06-30     375    0.00     225   1,125
2022-07-31     450    0.00     225   1,350
2022-08-31     525    0.00     225   1,575
2022-09-30     600    0.00     229   1,804
2022-10-31     675    0.00     238   2,042
2022-11-30     750    0.00     248   2,289
2022-12-31     825    0.00     257   2,546
2023-01-31     900    0.00     267   2,813
2023-02-28     975    0.00     276   3,089
2023-03-31   1,050    0.00     286   3,375
2023-04-30   1,125    0.00     296   3,671
2023-05-31   1,200    0.00     305   3,976
2023-06-30   1,275    0.00     315   4,291
2023-07-31   1,350    0.00     329   4,620
2023-08-31   1,425    0.00     339   4,959
2023-09-30   1,500    0.00     348   5,307
2023-10-31   1,575    0.00     358   5,666
2023-11-30   1,650    0.00     372   6,038
2023-12-31   1,725    0.00     391   6,429
2024-01-31   1,800    0.00     393   6,822
2024-02-29   1,875    0.00     394   7,216
2024-03-31   1,950    0.00     396   7,612
2024-04-30   1,950    0.00       0   7,612
2024-05-31   1,950    0.00       0   7,612
2024-06-30   1,950    0.00       0   7,612