In [1]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [3]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), 
      pd.get_option("display.max_rows"))

40 200

# Introduction

* Real estate development

# Area Data

In [101]:
# Pickling Data
with open("data/area.pickle", "rb") as fr:
    data_area = pickle.load(fr)

In [102]:
data_area['mtrxpy']

exclsv           exclsv                                                   \
name            nmlstrg  cldstrg canopy    berth  office   stair  mchnrm
ttlfloor floor
ttlfloor b1        0.00  2565.58    0.0   487.20  207.38   59.78  523.83
         f1        0.00  2881.81    0.0     0.00   87.44   66.40    0.00
         f2     2621.46     0.00    0.0   476.93   73.75   72.90    0.00
         f3     2698.53     0.00    0.0   390.21   22.92   66.40    0.00
         f4     1397.94     0.00  203.3     0.00   19.52   37.86    0.00
         sum    6717.93  5447.39  203.3  1354.34  411.01  303.34  523.83
nonfloor f1        0.00     0.00    0.0   263.47    0.00    0.00    0.00
         f3        0.00     0.00    0.0     0.00    0.00    0.00    0.00
         sum       0.00     0.00    0.0   263.47    0.00    0.00    0.00
ttl      sum    6717.93  5447.39  203.3  1617.81  411.01  303.34  523.83

exclsv                     common                     ttl          rent
name                 sum  passage ramp      sum       sum           sum
ttlfloor floor
ttlfloor b1      3843.77   696.65  0.0   696.65   4540.42   3438.238769
         f1      3035.65     0.00  0.0     0.00   3035.65   3143.818719
         f2      3245.04   669.66  0.0   669.66   3914.70   3360.669872
         f3      3178.06     0.00  0.0     0.00   3178.06   3291.303186
         f4      1658.62     0.00  0.0     0.00   1658.62   1717.721280
         sum    14961.14  1366.31  0.0  1366.31  16327.45  14951.751825
nonfloor f1       263.47   525.71  0.0   525.71    789.18    272.858175
         f3         0.00   559.42  0.0   559.42    559.42      0.000000
         sum      263.47  1085.13  0.0  1085.13   1348.60    272.858175
ttl      sum    15224.61  2451.44  0.0  2451.44  17676.05  15224.610000

In [125]:
area_ttl = data_area['mtrxpy'].loc[('ttl', 'sum'), ('ttl', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area_cld = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area_nml = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_nml])

floor_ttl = data_area['mtrxpy'].loc[('ttlfloor', 'sum'), ('ttl', 'sum')]

loc_cld = [x in ['b1', 'f1'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
floor_cld = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
floor_nml = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_nml])

rent_ttl = data_area['mtrxpy'].loc[('ttl', 'sum'), ('rent', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
rent_cld = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
rent_nml = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_nml])


print(f"Total area  : {area_ttl:>10,.1f}")
print(f"Cold area   : {area_cld:>10,.1f}")
print(f"Nomal area  : {area_nml:>10,.1f}")
print(f"Total floor : {floor_ttl:>10,.1f}")
print(f"Cold floor  : {floor_cld:>10,.1f}")
print(f"Nomal floor : {floor_nml:>10,.1f}")
print(f"Total rent  : {rent_ttl:>10,.1f}")
print(f"Cold rent   : {rent_cld:>10,.1f}")
print(f"Nomal rent  : {rent_nml:>10,.1f}")

Total area  :   17,676.0
Cold area   :    8,365.2
Nomal area  :    9,310.8
Total floor :   16,327.5
Cold floor  :    7,576.1
Nomal floor :    8,751.4
Total rent  :   15,224.6
Cold rent   :    6,854.9
Nomal rent  :    8,369.7

# Initial Setting

In [104]:
astn = EmptyClass()

# Input Index Data

In [105]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 35],
           ['cstrn', '2022-01', 23],
           ['loan',  '2022-01', 29],
           ['sales', '2022-01', 29]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [106]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [107]:
tmp_col = ['title', 'rnk', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',     0,     75_000,     18_000,      0.020,     0.043],
           ['trb',     1,     22_000,     22_000,      0.041,     0.070]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col).sort_values(by=['rnk'])

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     rnk = astn.loan.rnk,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

# Fee on balance for Tr.A
loan.feeonbal_tra = 0.005

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title   rnk amt_ntnl amt_intl rate_fee rate_IR
0   tra  0.00   75,000   18,000     2.00    4.30
1   trb  1.00   22,000   22,000     4.10    7.00

# Input Sales Data

In [108]:
# Pickling Data
with open("data/valuation.pickle", "rb") as fr:
    data_valuation = pickle.load(fr)
valuation = data_valuation['valuation_pivot']
value = valuation.loc[[('23,000', '50,000')]].values[0]
print("## Valuation Matrix ##")
display(R(valuation))

## Valuation Matrix ##

cap_rate         (4.0, 4.6) (4.1, 4.8) (4.2, 5.0) (4.3, 5.2) (4.4, 5.4)
rent
(21,000, 46,000)    123,728    119,432    115,441    111,721    108,246
(22,000, 48,000)    128,976    124,499    120,339    116,463    112,840
(23,000, 50,000)    134,224    129,566    125,238    121,204    117,435
(24,000, 52,000)    139,472    134,633    130,136    125,945    122,029
(25,000, 54,000)    144,720    139,700    135,034    130,687    126,624
(26,000, 56,000)    149,969    144,766    139,933    135,428    131,218

In [109]:
sales_value = 125_000
sales = cf.Account(idx, 'Sales')
sales.addamt(idx.sales[0], sales_value)
sales.subscdd(idx.sales[-1], sales_value)

# Input Cost Data

### 1) Set Cost Class

In [110]:
cost = cf.Cost(idx)

### 2) Land Purchase Costs

In [111]:
lnd = {}

In [112]:
title = ('lnd', 'prchs') # land purchase cost
byname = '용지매입비'
lnd['prchs'] = 14_500
tmp_ary = [[idx.prjt[0],  1_000],
           [idx.loan[0], 13_500]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total prchs  : {lnd['prchs']:>10,.1f}")
print(f"Intl prchs   : {cost['prchs'].add_scdd[idx.prjt[0]]:>10,.1f}")
print(f"Secnd prchs  : {cost['prchs'].add_scdd[idx.loan[0]]:>10,.1f} ")

Total prchs  :   14,500.0
Intl prchs   :    1,000.0
Secnd prchs  :   13,500.0

In [113]:
title = ('lnd', 'brkrg') # land brokerage fee
byname = '부동산중개비용'
lnd['brkrg'] = lnd['prchs'] * 0.009
intlcst = 39
tmp_ary = [[idx.prjt[0],  intlcst],
           [idx.loan[0],  lnd['brkrg'] - intlcst]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total brkrg  : {lnd['brkrg']:>10,.1f}")
print(f"Intl brkrg   : {intlcst:>10,.1f}")
print(f"Secnd brkrg  : {cost['brkrg'].add_scdd[idx.loan[0]]:>10,.1f}")

Total brkrg  :      130.5
Intl brkrg   :       39.0
Secnd brkrg  :       91.5

In [114]:
title = ('lnd', 'nhbond') # national housing bond
byname = '국민주택채권'
매입률 = 0.045
본인부담률 = 0.055
lnd['nhbond'] = lnd['prchs'] * 매입률 * 본인부담률
tmp_ary = [[idx.loan[0], lnd['nhbond']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total nhbond : {cost['nhbond'].add_scdd[idx.loan[0]]:10,.1f}")

Total nhbond :       35.9

In [115]:
title = ('lnd', 'jdclcst') # judicial scrivener cost
byname = '법무사비용'
수수료율 = 0.001
lnd['jdclcst'] = lnd['prchs'] * 수수료율
tmp_ary = [[idx.loan[0], lnd['jdclcst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total jdclcst : {cost['jdclcst'].add_scdd[idx.loan[0]]:10,.1f}")

Total jdclcst :       14.5

In [116]:
title = ('lnd', 'tax_aqstn') # land acquisition and registration tax
byname = '취등록세'
취득세율 = 0.040
농특세율 = 0.002
교육세율 = 0.004
lnd['tax_aqstn'] = sum(cost['lnd'].amt) * (취득세율 + 농특세율 + 교육세율)
tmp_ary = [[idx.loan[0], lnd['tax_aqstn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total tax_aqstn : {cost['tax_aqstn'].add_scdd[idx.loan[0]]:10,.1f}")

Total tax_aqstn :      675.3

In [117]:
lnd['sum'] = sum(cost['lnd'].amt)

print(f"Total land cost : {lnd['sum']:10,.1f}")

Total land cost :   15,356.2

### 3) Construction Costs

In [119]:
cstrn = {}
cstrn['dmltn'] = 35 + 1_180 # 철거비: 3,550평 x 342천원
cstrn['civil'] = 8_490 # 토목공사: 16,327평 x 520천원
cstrn['nml_fclt'] = area_nml * 2.66 # 상온시설: 9,311평 x 2,660천원
cstrn['cld_fclt'] = area_cld * 3.66 # 저온시설: 8,365평 x 3,660천원
cstrn['ttl_fclt'] = cstrn['nml_fclt'] + cstrn['cld_fclt']

cstrn['sum'] = 65_000 # 철거, 토목, 건축공사 통합 650억원으로 설정

retention_rate = 0.1
cstrn['intl'] = 35
cstrn['sum_prd'] = cstrn['sum'] * (1-retention_rate) - cstrn['intl']
cstrn['sum_rttn'] = cstrn['sum'] * retention_rate

print(f"Total construction cost:   {cstrn['sum']:>10,.0f}")
print(f"Initial construction cost: {cstrn['intl']:>10,.0f}")
print(f"Period construction cost:  {cstrn['sum_prd']:>10,.0f}")
print(f"Retained construction cost:{cstrn['sum_rttn']:>10,.0f}")

Total construction cost:       65,000
Initial construction cost:         35
Period construction cost:      58,465
Retained construction cost:     6,500

In [120]:
title = ('cstrn', 'cstrn') # construction cost
byname = '공사비'
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[idx.prjt[0], cstrn['intl']]]
tmp_ary.extend([[x, cstrn['sum_prd'] / tmp_len] for x in tmp_idx])
tmp_ary.append([idx.prjt[-1], cstrn['sum_rttn']])

cost.inptcst(title, byname, scdddf=tmp_ary)

### 4) Indirect Construction Costs

In [121]:
cstrnidrt = {}

In [126]:
title = ('cstrnidrt', 'wtrelec') # water supply, electricity etc. 
byname = '각종인입비'
cstrnidrt['wtrelec'] = 980
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wtrelec']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [127]:
title = ('cstrnidrt', 'wsctbn') # water and sewage contribution
byname = '상수도분담금'
cstrnidrt['wsctbn'] = 163
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wsctbn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [128]:
title = ('cstrnidrt', 'dsgncst') # design cost
byname = '설계비'
cstrnidrt['dsgncst'] = 624
tmp_ary = [[idx.loan[0], cstrnidrt['dsgncst']]]
# 16,327평 x 38천원
cost.inptcst(title, byname, scdddf=tmp_ary)

In [129]:
title = ('cstrnidrt', 'lcnscst') # license cost
byname = '인허가비용'
cstrnidrt['lcnscst'] = 528
tmp_ary = [[idx.loan[0], cstrnidrt['lcnscst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [130]:
title = ('cstrnidrt', 'spvsn') # supervision cost
byname = '감리비'
cstrnidrt['spvsn'] = 490 # 16,327평 x 30천원, 월별 분할 부과
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[x, cstrnidrt['spvsn'] / tmp_len] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 5) Marketing Costs

In [131]:
mrktg = {}

In [133]:
title = ('mrktg', 'rentagncy') # rent agency cost
byname = '임대대행수수료'
mrktg['rentagncy'] = 1_115
tmp_ary = [[idx.prjt[-1], mrktg['rentagncy']]]
# 임대계약 실행시 월 임대료의 2개월치 지급
# 1개월치 임대료 517백만원 가정
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [134]:
title = ('mrktg', 'salescsltg') # sales consulting fee
byname = '매각컨설팅수수료'
mrktg['salescsltg'] = 1_000
tmp_ary = [[idx.loan[0], mrktg['salescsltg']]]
# 추정매각가 x 0.8%
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [135]:
title = ('mrktg', 'advtsmnt') # advertisement and promotion cost
byname = '광고홍보비'
mrktg['advtsmnt'] = 500
tmp_ary = [[idx.locval(2022, 6), mrktg['advtsmnt'] * 0.5],
           [idx.locval(2023, 6), mrktg['advtsmnt'] * 0.5]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 6) Tax and Utility bills(제세공과금)

In [150]:
title = ('taxutlt', 'prpttax') # property tax
byname = '재산세종부세'
tmp_ary = [[idx.locval(2022, 6), 37],
           [idx.locval(2023, 6), 37]]
# 5,590 x 0.62% 2년
cost.inptcst(title, byname, scdddf=tmp_ary)

In [151]:
title = ('taxutlt', 'prsvtntax') # preservation registration fee
byname = '보존등기비'
tmp_ary = [[idx.cstrn.index[-1], 2_866]]
# 건물 취득비용 x 3.40%(취득세 2.8%, 농특세 0.2%, 교육세 0.16%, 법무사 0.24%)
cost.inptcst(title, byname, scdddf=tmp_ary)

### 7) Additional Costs

In [152]:
title = ('addtnl', 'pmfee') # Additional expense, PM fee
byname = 'PM수수료'
tmp_ary = [[idx.locval(2022, 1), 200]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [153]:
title = ('addtnl', 'oprtgcst') # company operating cost
unt_amt = 30 # 3,000만원/월
tmp_idx = idx.loan.index
tmp_ary = [[x, unt_amt] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [154]:
title = ('addtnl', 'rsrvfund') # reserve fund
byname = '예비비'
tmp_ary = [[idx.locval(2022, 6), 940],
           [idx.locval(2023, 6), 939]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [155]:
title = ('addtnl', 'trustcst') # trust fee
byname = '신탁수수료'
tmp_ary = [[idx.locval(2022, 1), 1_879]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [156]:
title = ('addtnl', 'csltcst') # consulting fee
byname = '사평감평용역비'
tmp_ary = [[idx.locval(2021, 12), 10],
           [idx.locval(2022, 1), 140]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [157]:
title = ('addtnl', 'legalcst') # legal advice fee
byname = '법률자문'
tmp_ary = [[idx.locval(2022, 1), 40]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 8) Financing Costs

In [158]:
title = ('fncg', 'arngmnt') # financing arrangement fee
byname = '금융주관수수료'
tmp_rate = 0.02 #2.0%
tmp_amt = sum(loan.amt_ntnl)
tmp_ary = [[idx.locval(2022, 1), tmp_amt * tmp_rate]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [159]:
title = ('fncg', 'spcoprtg') # spc operating cost
byname = 'SPC유동화비용'
tmp_ary = [[idx.locval(2022, 1), 66]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [160]:
title = ('fncg', 'agntbank') # agent banking fee
byname = '대리금융기관'
tmp_ary = [[idx.locval(2022, 1), 30],
           [idx.locval(2023, 1), 30]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [161]:
title = ('fncg', 'prepchs_fee') # pre-purchase agreement fee
byname = '선매입약정수수료'
tmp_ary = [[idx.locval(2022, 1), 300]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 9) Cost Matrix

In [162]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.add_scdd[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].add_scdd[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,439         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,439       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00      0         0      0
2024-07-31       0   0.00         0   0.00    0.00      0         0      0
2024-08-31       0   0.00         0   0.00    0.00      0         0      0
2024-09-30       0   0.00         0   0.00    0.00      0         0      0
2024-10-31       0   0.00         0   0.00    0.00      0         0      0
2024-11-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0          0        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   2,000    66.00    30.00         300  22,614
2022-02-28       0     0.00     0.00           0   2,490
2022-03-31       0     0.00     0.00           0   2,490
2022-04-30       0     0.00     0.00           0   2,490
2022-05-31       0     0.00     0.00           0   2,490
2022-06-30       0     0.00     0.00           0   3,717
2022-07-31       0     0.00     0.00           0   2,490
2022-08-31       0     0.00     0.00           0   2,490
2022-09-30       0     0.00     0.00           0   2,490
2022-10-31       0     0.00     0.00           0   2,490
2022-11-30       0     0.00     0.00           0   2,490
2022-12-31       0     0.00     0.00           0   2,490
2023-01-31       0     0.00    30.00           0   2,520
2023-02-28       0     0.00     0.00           0   2,490
2023-03-31       0     0.00     0.00           0   2,490
2023-04-30       0     0.00     0.00           0   2,490
2023-05-31       0     0.00     0.00           0   2,490
2023-06-30       0     0.00     0.00           0   3,716
2023-07-31       0     0.00     0.00           0   2,490
2023-08-31       0     0.00     0.00           0   2,490
2023-09-30       0     0.00     0.00           0   2,490
2023-10-31       0     0.00     0.00           0   3,633
2023-11-30       0     0.00     0.00           0   2,490
2023-12-31       0     0.00     0.00           0   5,356
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0      30
2024-05-31       0     0.00     0.00           0      30
2024-06-30       0     0.00     0.00           0      30
2024-07-31       0     0.00     0.00           0       0
2024-08-31       0     0.00     0.00           0       0
2024-09-30       0     0.00     0.00           0       0
2024-10-31       0     0.00     0.00           0       0
2024-11-30       0     0.00     0.00           0   8,581

In [163]:
cost_df.sum()

lnd        prchs          14500.0
           brkrg            130.0
           tax_aqstn        675.0
           nhbond            36.0
           jdclcst           15.0
cstrn      cstrn          65088.0
cstrnidrt  wtrelec          980.0
           wsctbn           163.0
           dsgncst          624.0
           lcnscst          528.0
           spvsn            490.0
mrktg      rentagncy       1070.0
           salescsltg      1002.0
           advtsmnt         500.0
taxutlt    prpttax           74.0
           prsvtntax       2866.0
addtnl     pmfee            200.0
           oprtgcst         900.0
           rsrvfund        1879.0
           trustcst        1879.0
           csltcst          150.0
           legalcst          40.0
fncg       arngmnt         2000.0
           spcoprtg          66.0
           agntbank          60.0
           prepchs_fee      300.0
sum        sum            96215.0
dtype: float64

# Execution Cash Flow

In [164]:
acc = cf.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [165]:
# Execute cash flow
for idxno in idx.index:
    #### Loans: set loan withdrawble ####
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno, idx[0])
    for rnk in loan.rnk:
        loan[rnk].set_wtdrbl_intldate(idxno)
    
    #### Cash Inflow: cash inflow from sales or rent etc. ####
    salesamt = sales.sub_scdd[idxno]
    if salesamt > 0:
        sales.send(idxno, salesamt, acc.repay)
    
    #### Expected Costs: calculate expected costs ####
    # calculate operating costs
    oprtg_cost = cost['all'].add_scdd[idxno]

    # calculate financial costs
    for rnk in loan.rnk:
        if idxno == loan[rnk].idxfn[0]:
            loan[rnk].fee.addscdd(idxno, loan[rnk].fee.amt)
        if all([loan[rnk].is_wtdrbl, not loan[rnk].is_repaid]):
            loan[rnk].IR.addscdd(idxno, loan[rnk].IRamt_topay(idxno))
    
    # calculate financial fee on balance on Tr.A
    ntnl_sub_rsdl_tra = loan.tra.ntnl_sub_rsdl(idxno)
    feeonbal = ntnl_sub_rsdl_tra * loan.feeonbal_tra / 12
    loan.tra.fee.addscdd(idxno, feeonbal)
    
    # gathering financial costs
    fncl_fee = loan.ttl.fee.add_scdd[idxno]
    fncl_IR = loan.ttl.IR.add_scdd[idxno]

    cost_ttl = oprtg_cost + fncl_fee + fncl_IR
    
    
    #### Loans: withdraw loan ####
    # calculate the amount to withdraw
    amt_rqrd = acc.oprtg.amt_rqrd_excess(idxno, cost_ttl)
    
    # withdraw loan amount
    amt_wtdrw = 0
    amt_wtdrw += equity.wtdrw(idxno, equity.amt_intl, acc.oprtg)
    if idxno == idx.loan[0]:
        # withdraw initial loan amount
        for rnk in sorted(loan.rnk, reverse=True):
            amt_wtdrw += loan[rnk].wtdrw(idxno, loan[rnk].amt_intl, acc.oprtg)
    
    amt_rqrd = max(amt_rqrd - amt_wtdrw, 0)
    for rnk in sorted(loan.rnk, reverse=True):
        amt_rqrd = max(amt_rqrd - loan[rnk].wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    
    
    #### Costs: 토지비, 공사비 등 각종 비용 지출 ####
    for cst_name, cst_acc in cost['all'].dct.items():
        amt_scdd = cst_acc.add_scdd[idxno]
        acc.oprtg.send(idxno, amt_scdd, cst_acc)
        
    
    #### Loans: pay financial cost ####
    for rnk in loan.rnk:
        acc.oprtg.send(idxno, loan[rnk].fee.add_scdd[idxno], loan[rnk].fee)

    for rnk in loan.rnk:
        acc.oprtg.send(idxno, loan[rnk].IR.add_scdd[idxno], loan[rnk].IR)
    
    
    #### Loans: repay loan amount ####
    if idxno >= loan.idxfn[-1]: # 만기 도래 여부 확인
        for rnk in loan.rnk:
            if rnk == 0 or loan[rnk-1].is_repaid:
                amtrpy = loan[rnk].repay_amt(idxno, acc.repay.bal_end[idxno])
                acc.repay.send(idxno, amtrpy, loan[rnk].ntnl)
                loan[rnk].set_repaid(idxno)
        
            if rnk == max(loan.rnk):
                acc.repay.send(idxno, acc.repay.bal_end[idxno], acc.oprtg)
        
    
    #### Loans: Set back loan unwithdrawble at maturity ####
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    for rnk in loan.rnk:
        loan[rnk].setback_wtdrbl_mtrt(idxno)

# Analysis of Results

### 1) Accounts

In [166]:
print("## Operating Account ##")
display(R(acc.oprtg.df))

## Operating Account ##

           add_scdd sub_scdd bal_strt amt_add amt_sub bal_end
2021-12-31     0.00     0.00        0   1,300   1,084     216
2022-01-31     0.00     0.00      216  48,000  25,257  22,959
2022-02-28     0.00     0.00   22,959       0   2,759  20,200
2022-03-31     0.00     0.00   20,200       0   2,759  17,441
2022-04-30     0.00     0.00   17,441       0   2,759  14,683
2022-05-31     0.00     0.00   14,683       0   2,759  11,924
2022-06-30     0.00     0.00   11,924       0   3,986   7,938
2022-07-31     0.00     0.00    7,938       0   2,759   5,179
2022-08-31     0.00     0.00    5,179       0   2,759   2,420
2022-09-30     0.00     0.00    2,420     400   2,759      61
2022-10-31     0.00     0.00       61   2,700   2,760       1
2022-11-30     0.00     0.00        1   2,800   2,768      33
2022-12-31     0.00     0.00       33   2,800   2,776      57
2023-01-31     0.00     0.00       57   2,800   2,814      42
2023-02-28     0.00     0.00       42   2,800   2,792      50
2023-03-31     0.00     0.00       50   2,800   2,801      49
2023-04-30     0.00     0.00       49   2,800   2,809      41
2023-05-31     0.00     0.00       41   2,800   2,817      24
2023-06-30     0.00     0.00       24   4,100   4,051      72
2023-07-31     0.00     0.00       72   2,800   2,837      35
2023-08-31     0.00     0.00       35   2,900   2,845      90
2023-09-30     0.00     0.00       90   2,800   2,854      36
2023-10-31     0.00     0.00       36   4,000   4,005      31
2023-11-30     0.00     0.00       31   2,900   2,874      58
2023-12-31     0.00     0.00       58   5,700   5,748      10
2024-01-31     0.00     0.00       10     500     439      71
2024-02-29     0.00     0.00       71     400     440      31
2024-03-31     0.00     0.00       31     500     442      89
2024-04-30     0.00     0.00       89     400     443      46
2024-05-31     0.00     0.00       46     400     444       2
2024-06-30     0.00     0.00        2  26,900     445  26,457
2024-07-31     0.00     0.00   26,457       0       1  26,456
2024-08-31     0.00     0.00   26,456       0       1  26,456
2024-09-30     0.00     0.00   26,456       0       1  26,455
2024-10-31     0.00     0.00   26,455       0       1  26,455
2024-11-30     0.00     0.00   26,455       0   8,581  17,873

In [167]:
print("## Sales Account ##")
display(R(sales.df))

## Sales Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub  bal_end
2021-12-31     0.00        0        0        0        0        0
2022-01-31     0.00        0        0  125,000        0  125,000
2022-02-28     0.00        0  125,000        0        0  125,000
2022-03-31     0.00        0  125,000        0        0  125,000
2022-04-30     0.00        0  125,000        0        0  125,000
2022-05-31     0.00        0  125,000        0        0  125,000
2022-06-30     0.00        0  125,000        0        0  125,000
2022-07-31     0.00        0  125,000        0        0  125,000
2022-08-31     0.00        0  125,000        0        0  125,000
2022-09-30     0.00        0  125,000        0        0  125,000
2022-10-31     0.00        0  125,000        0        0  125,000
2022-11-30     0.00        0  125,000        0        0  125,000
2022-12-31     0.00        0  125,000        0        0  125,000
2023-01-31     0.00        0  125,000        0        0  125,000
2023-02-28     0.00        0  125,000        0        0  125,000
2023-03-31     0.00        0  125,000        0        0  125,000
2023-04-30     0.00        0  125,000        0        0  125,000
2023-05-31     0.00        0  125,000        0        0  125,000
2023-06-30     0.00        0  125,000        0        0  125,000
2023-07-31     0.00        0  125,000        0        0  125,000
2023-08-31     0.00        0  125,000        0        0  125,000
2023-09-30     0.00        0  125,000        0        0  125,000
2023-10-31     0.00        0  125,000        0        0  125,000
2023-11-30     0.00        0  125,000        0        0  125,000
2023-12-31     0.00        0  125,000        0        0  125,000
2024-01-31     0.00        0  125,000        0        0  125,000
2024-02-29     0.00        0  125,000        0        0  125,000
2024-03-31     0.00        0  125,000        0        0  125,000
2024-04-30     0.00        0  125,000        0        0  125,000
2024-05-31     0.00        0  125,000        0        0  125,000
2024-06-30     0.00  125,000  125,000        0  125,000        0
2024-07-31     0.00        0        0        0        0        0
2024-08-31     0.00        0        0        0        0        0
2024-09-30     0.00        0        0        0        0        0
2024-10-31     0.00        0        0        0        0        0
2024-11-30     0.00        0        0        0        0        0

In [168]:
print("## Repayment Account ##")
display(R(acc.repay.df))

## Repayment Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub bal_end
2021-12-31     0.00     0.00     0.00        0        0    0.00
2022-01-31     0.00     0.00     0.00        0        0    0.00
2022-02-28     0.00     0.00     0.00        0        0    0.00
2022-03-31     0.00     0.00     0.00        0        0    0.00
2022-04-30     0.00     0.00     0.00        0        0    0.00
2022-05-31     0.00     0.00     0.00        0        0    0.00
2022-06-30     0.00     0.00     0.00        0        0    0.00
2022-07-31     0.00     0.00     0.00        0        0    0.00
2022-08-31     0.00     0.00     0.00        0        0    0.00
2022-09-30     0.00     0.00     0.00        0        0    0.00
2022-10-31     0.00     0.00     0.00        0        0    0.00
2022-11-30     0.00     0.00     0.00        0        0    0.00
2022-12-31     0.00     0.00     0.00        0        0    0.00
2023-01-31     0.00     0.00     0.00        0        0    0.00
2023-02-28     0.00     0.00     0.00        0        0    0.00
2023-03-31     0.00     0.00     0.00        0        0    0.00
2023-04-30     0.00     0.00     0.00        0        0    0.00
2023-05-31     0.00     0.00     0.00        0        0    0.00
2023-06-30     0.00     0.00     0.00        0        0    0.00
2023-07-31     0.00     0.00     0.00        0        0    0.00
2023-08-31     0.00     0.00     0.00        0        0    0.00
2023-09-30     0.00     0.00     0.00        0        0    0.00
2023-10-31     0.00     0.00     0.00        0        0    0.00
2023-11-30     0.00     0.00     0.00        0        0    0.00
2023-12-31     0.00     0.00     0.00        0        0    0.00
2024-01-31     0.00     0.00     0.00        0        0    0.00
2024-02-29     0.00     0.00     0.00        0        0    0.00
2024-03-31     0.00     0.00     0.00        0        0    0.00
2024-04-30     0.00     0.00     0.00        0        0    0.00
2024-05-31     0.00     0.00     0.00        0        0    0.00
2024-06-30     0.00     0.00     0.00  125,000  125,000    0.00
2024-07-31     0.00     0.00     0.00        0        0    0.00
2024-08-31     0.00     0.00     0.00        0        0    0.00
2024-09-30     0.00     0.00     0.00        0        0    0.00
2024-10-31     0.00     0.00     0.00        0        0    0.00
2024-11-30     0.00     0.00     0.00        0        0    0.00

### 2) Costs

In [169]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.amt_add[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].amt_add[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg tax_aqstn nhbond jdclcst  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00         0   0.00    0.00     35         0      0
2022-01-31  13,500  91.00       675  36.00   15.00  2,439         0      0
2022-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2022-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-10-31       0   0.00         0   0.00    0.00  2,439         0      0
2022-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2022-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-01-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-02-28       0   0.00         0   0.00    0.00  2,439         0      0
2023-03-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-04-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-05-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-06-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-07-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-08-31       0   0.00         0   0.00    0.00  2,439         0      0
2023-09-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-10-31       0   0.00         0   0.00    0.00  2,439       980    163
2023-11-30       0   0.00         0   0.00    0.00  2,439         0      0
2023-12-31       0   0.00         0   0.00    0.00  2,439         0      0
2024-01-31       0   0.00         0   0.00    0.00      0         0      0
2024-02-29       0   0.00         0   0.00    0.00      0         0      0
2024-03-31       0   0.00         0   0.00    0.00      0         0      0
2024-04-30       0   0.00         0   0.00    0.00      0         0      0
2024-05-31       0   0.00         0   0.00    0.00      0         0      0
2024-06-30       0   0.00         0   0.00    0.00      0         0      0
2024-07-31       0   0.00         0   0.00    0.00      0         0      0
2024-08-31       0   0.00         0   0.00    0.00      0         0      0
2024-09-30       0   0.00         0   0.00    0.00      0         0      0
2024-10-31       0   0.00         0   0.00    0.00      0         0      0
2024-11-30       0   0.00         0   0.00    0.00  6,509         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0          0        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,070      1,002        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                                   sum
           arngmnt spcoprtg agntbank prepchs_fee     sum
2021-12-31       0     0.00     0.00           0   1,084
2022-01-31   2,000    66.00    30.00         300  22,614
2022-02-28       0     0.00     0.00           0   2,490
2022-03-31       0     0.00     0.00           0   2,490
2022-04-30       0     0.00     0.00           0   2,490
2022-05-31       0     0.00     0.00           0   2,490
2022-06-30       0     0.00     0.00           0   3,717
2022-07-31       0     0.00     0.00           0   2,490
2022-08-31       0     0.00     0.00           0   2,490
2022-09-30       0     0.00     0.00           0   2,490
2022-10-31       0     0.00     0.00           0   2,490
2022-11-30       0     0.00     0.00           0   2,490
2022-12-31       0     0.00     0.00           0   2,490
2023-01-31       0     0.00    30.00           0   2,520
2023-02-28       0     0.00     0.00           0   2,490
2023-03-31       0     0.00     0.00           0   2,490
2023-04-30       0     0.00     0.00           0   2,490
2023-05-31       0     0.00     0.00           0   2,490
2023-06-30       0     0.00     0.00           0   3,716
2023-07-31       0     0.00     0.00           0   2,490
2023-08-31       0     0.00     0.00           0   2,490
2023-09-30       0     0.00     0.00           0   2,490
2023-10-31       0     0.00     0.00           0   3,633
2023-11-30       0     0.00     0.00           0   2,490
2023-12-31       0     0.00     0.00           0   5,356
2024-01-31       0     0.00     0.00           0      30
2024-02-29       0     0.00     0.00           0      30
2024-03-31       0     0.00     0.00           0      30
2024-04-30       0     0.00     0.00           0      30
2024-05-31       0     0.00     0.00           0      30
2024-06-30       0     0.00     0.00           0      30
2024-07-31       0     0.00     0.00           0       0
2024-08-31       0     0.00     0.00           0       0
2024-09-30       0     0.00     0.00           0       0
2024-10-31       0     0.00     0.00           0       0
2024-11-30       0     0.00     0.00           0   8,581

In [170]:
print("## 필수사업비/선택적사업비 ##")
cost_initial = cost_df[:1].sum()
cost_vital = cost_df[1:-2].sum()
cost_optional = cost_df[-1:].sum()
cost_total = cost_df.sum()
R(DataFrame({'initial':cost_initial,
             'vital':cost_vital,
             'optional':cost_optional,
             'total':cost_total}))

## 필수사업비/선택적사업비 ##

                      initial   vital optional   total
lnd       prchs         1,000  13,500        0  14,500
          brkrg            39      91        0     130
          tax_aqstn         0     675        0     675
          nhbond            0      36        0      36
          jdclcst           0      15        0      15
cstrn     cstrn            35  58,544    6,509  65,088
cstrnidrt wtrelec           0     980        0     980
          wsctbn            0     163        0     163
          dsgncst           0     624        0     624
          lcnscst           0     528        0     528
          spvsn             0     490        0     490
mrktg     rentagncy         0       0    1,070   1,070
          salescsltg        0       0    1,002   1,002
          advtsmnt          0     500        0     500
taxutlt   prpttax           0      74        0      74
          prsvtntax         0   2,866        0   2,866
addtnl    pmfee             0     200        0     200
          oprtgcst          0     900        0     900
          rsrvfund          0   1,879        0   1,879
          trustcst          0   1,879        0   1,879
          csltcst          10     140        0     150
          legalcst          0      40        0      40
fncg      arngmnt           0   2,000        0   2,000
          spcoprtg          0      66        0      66
          agntbank          0      60        0      60
          prepchs_fee       0     300        0     300
sum       sum           1,084  86,550    8,581  96,215

### 3) Loan

#### 3-1) Notional Amount

In [171]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.ntnl.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.ntnl.amt_add[:]
    loan_df[(key, 'bal_end')] = item.ntnl.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                      trb                      trc          \
           amt_sub amt_add  bal_end amt_sub amt_add  bal_end amt_sub amt_add
2021-12-31       0       0        0       0       0        0       0       0
2022-01-31  15,000       0  -15,000  20,000       0  -20,000  10,000       0
2022-02-28       0       0  -15,000       0       0  -20,000       0       0
2022-03-31       0       0  -15,000       0       0  -20,000       0       0
2022-04-30       0       0  -15,000       0       0  -20,000       0       0
2022-05-31       0       0  -15,000       0       0  -20,000       0       0
2022-06-30       0       0  -15,000       0       0  -20,000       0       0
2022-07-31       0       0  -15,000       0       0  -20,000       0       0
2022-08-31       0       0  -15,000       0       0  -20,000       0       0
2022-09-30     400       0  -15,400       0       0  -20,000       0       0
2022-10-31   2,700       0  -18,100       0       0  -20,000       0       0
2022-11-30   2,800       0  -20,900       0       0  -20,000       0       0
2022-12-31   2,800       0  -23,700       0       0  -20,000       0       0
2023-01-31   2,800       0  -26,500       0       0  -20,000       0       0
2023-02-28   2,800       0  -29,300       0       0  -20,000       0       0
2023-03-31   2,800       0  -32,100       0       0  -20,000       0       0
2023-04-30   2,800       0  -34,900       0       0  -20,000       0       0
2023-05-31   2,800       0  -37,700       0       0  -20,000       0       0
2023-06-30   4,100       0  -41,800       0       0  -20,000       0       0
2023-07-31   2,800       0  -44,600       0       0  -20,000       0       0
2023-08-31   2,900       0  -47,500       0       0  -20,000       0       0
2023-09-30   2,800       0  -50,300       0       0  -20,000       0       0
2023-10-31   4,000       0  -54,300       0       0  -20,000       0       0
2023-11-30   2,900       0  -57,200       0       0  -20,000       0       0
2023-12-31   5,700       0  -62,900       0       0  -20,000       0       0
2024-01-31     500       0  -63,400       0       0  -20,000       0       0
2024-02-29     400       0  -63,800       0       0  -20,000       0       0
2024-03-31     500       0  -64,300       0       0  -20,000       0       0
2024-04-30     400       0  -64,700       0       0  -20,000       0       0
2024-05-31     400       0  -65,100       0       0  -20,000       0       0
2024-06-30     500  65,600        0       0  20,000        0       0  10,000
2024-07-31       0       0        0       0       0        0       0       0
2024-08-31       0       0        0       0       0        0       0       0
2024-09-30       0       0        0       0       0        0       0       0
2024-10-31       0       0        0       0       0        0       0       0
2024-11-30       0       0        0       0       0        0       0       0

                        trd                     sum
            bal_end amt_sub amt_add bal_end amt_sub amt_add  bal_end
2021-12-31        0       0       0       0       0       0        0
2022-01-31  -10,000   3,000       0  -3,000  48,000       0  -48,000
2022-02-28  -10,000       0       0  -3,000       0       0  -48,000
2022-03-31  -10,000       0       0  -3,000       0       0  -48,000
2022-04-30  -10,000       0       0  -3,000       0       0  -48,000
2022-05-31  -10,000       0       0  -3,000       0       0  -48,000
2022-06-30  -10,000       0       0  -3,000       0       0  -48,000
2022-07-31  -10,000       0       0  -3,000       0       0  -48,000
2022-08-31  -10,000       0       0  -3,000       0       0  -48,000
2022-09-30  -10,000       0       0  -3,000     400       0  -48,400
2022-10-31  -10,000       0       0  -3,000   2,700       0  -51,100
2022-11-30  -10,000       0       0  -3,000   2,800       0  -53,900
2022-12-31  -10,000       0       0  -3,000   2,800       0  -56,700
2023-01-31  -10,000       0       0  -3,000   2,800       0  -59,500
2023-02-28  -10,000       0       0  -3,000   2,800       0  -62,300
2023-03-31  -10,000       0       0  -3,000   2,800       0  -65,100
2023-04-30  -10,000       0       0  -3,000   2,800       0  -67,900
2023-05-31  -10,000       0       0  -3,000   2,800       0  -70,700
2023-06-30  -10,000       0       0  -3,000   4,100       0  -74,800
2023-07-31  -10,000       0       0  -3,000   2,800       0  -77,600
2023-08-31  -10,000       0       0  -3,000   2,900       0  -80,500
2023-09-30  -10,000       0       0  -3,000   2,800       0  -83,300
2023-10-31  -10,000       0       0  -3,000   4,000       0  -87,300
2023-11-30  -10,000       0       0  -3,000   2,900       0  -90,200
2023-12-31  -10,000       0       0  -3,000   5,700       0  -95,900
2024-01-31  -10,000       0       0  -3,000     500       0  -96,400
2024-02-29  -10,000       0       0  -3,000     400       0  -96,800
2024-03-31  -10,000       0       0  -3,000     500       0  -97,300
2024-04-30  -10,000       0       0  -3,000     400       0  -97,700
2024-05-31  -10,000       0       0  -3,000     400       0  -98,100
2024-06-30        0       0   3,000       0     500  98,600        0
2024-07-31        0       0       0       0       0       0        0
2024-08-31        0       0       0       0       0       0        0
2024-09-30        0       0       0       0       0       0        0
2024-10-31        0       0       0       0       0       0        0
2024-11-30        0       0       0       0       0       0        0

#### 3-2) Fee Amount

In [172]:
fee_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.fee.dct.items()}, index=['amt_add'])
fee_dct['sum'] = fee_dct.sum(axis=1)
R(fee_dct)

           tra  trb  trc  trd    sum
amt_add  1,413  700  700  210  3,023

In [173]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.fee.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.fee.amt_add[:]
    loan_df[(key, 'bal_end')] = item.fee.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00       0
2022-01-31    0.00   1,033   1,033    0.00     700     700    0.00     700
2022-02-28    0.00      22   1,055    0.00       0     700    0.00       0
2022-03-31    0.00      22   1,076    0.00       0     700    0.00       0
2022-04-30    0.00      22   1,098    0.00       0     700    0.00       0
2022-05-31    0.00      22   1,120    0.00       0     700    0.00       0
2022-06-30    0.00      22   1,141    0.00       0     700    0.00       0
2022-07-31    0.00      22   1,163    0.00       0     700    0.00       0
2022-08-31    0.00      22   1,185    0.00       0     700    0.00       0
2022-09-30    0.00      22   1,206    0.00       0     700    0.00       0
2022-10-31    0.00      22   1,228    0.00       0     700    0.00       0
2022-11-30    0.00      20   1,248    0.00       0     700    0.00       0
2022-12-31    0.00      19   1,267    0.00       0     700    0.00       0
2023-01-31    0.00      18   1,285    0.00       0     700    0.00       0
2023-02-28    0.00      17   1,302    0.00       0     700    0.00       0
2023-03-31    0.00      16   1,318    0.00       0     700    0.00       0
2023-04-30    0.00      15   1,333    0.00       0     700    0.00       0
2023-05-31    0.00      13   1,346    0.00       0     700    0.00       0
2023-06-30    0.00      12   1,358    0.00       0     700    0.00       0
2023-07-31    0.00      10   1,369    0.00       0     700    0.00       0
2023-08-31    0.00       9   1,378    0.00       0     700    0.00       0
2023-09-30    0.00       8   1,386    0.00       0     700    0.00       0
2023-10-31    0.00       7   1,393    0.00       0     700    0.00       0
2023-11-30    0.00       5   1,398    0.00       0     700    0.00       0
2023-12-31    0.00       4   1,402    0.00       0     700    0.00       0
2024-01-31    0.00       2   1,404    0.00       0     700    0.00       0
2024-02-29    0.00       2   1,406    0.00       0     700    0.00       0
2024-03-31    0.00       1   1,407    0.00       0     700    0.00       0
2024-04-30    0.00       1   1,408    0.00       0     700    0.00       0
2024-05-31    0.00       1   1,409    0.00       0     700    0.00       0
2024-06-30    0.00       1   1,410    0.00       0     700    0.00       0
2024-07-31    0.00       1   1,410    0.00       0     700    0.00       0
2024-08-31    0.00       1   1,411    0.00       0     700    0.00       0
2024-09-30    0.00       1   1,412    0.00       0     700    0.00       0
2024-10-31    0.00       1   1,412    0.00       0     700    0.00       0
2024-11-30    0.00       1   1,413    0.00       0     700    0.00       0

                       trd                     sum
           bal_end amt_sub amt_add bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00       0       0    0.00       0       0
2022-01-31     700    0.00     210     210    0.00   2,643   2,643
2022-02-28     700    0.00       0     210    0.00      22   2,665
2022-03-31     700    0.00       0     210    0.00      22   2,686
2022-04-30     700    0.00       0     210    0.00      22   2,708
2022-05-31     700    0.00       0     210    0.00      22   2,730
2022-06-30     700    0.00       0     210    0.00      22   2,751
2022-07-31     700    0.00       0     210    0.00      22   2,773
2022-08-31     700    0.00       0     210    0.00      22   2,795
2022-09-30     700    0.00       0     210    0.00      22   2,816
2022-10-31     700    0.00       0     210    0.00      22   2,838
2022-11-30     700    0.00       0     210    0.00      20   2,858
2022-12-31     700    0.00       0     210    0.00      19   2,877
2023-01-31     700    0.00       0     210    0.00      18   2,895
2023-02-28     700    0.00       0     210    0.00      17   2,912
2023-03-31     700    0.00       0     210    0.00      16   2,928
2023-04-30     700    0.00       0     210    0.00      15   2,943
2023-05-31     700    0.00       0     210    0.00      13   2,956
2023-06-30     700    0.00       0     210    0.00      12   2,968
2023-07-31     700    0.00       0     210    0.00      10   2,979
2023-08-31     700    0.00       0     210    0.00       9   2,988
2023-09-30     700    0.00       0     210    0.00       8   2,996
2023-10-31     700    0.00       0     210    0.00       7   3,003
2023-11-30     700    0.00       0     210    0.00       5   3,008
2023-12-31     700    0.00       0     210    0.00       4   3,012
2024-01-31     700    0.00       0     210    0.00       2   3,014
2024-02-29     700    0.00       0     210    0.00       2   3,016
2024-03-31     700    0.00       0     210    0.00       1   3,017
2024-04-30     700    0.00       0     210    0.00       1   3,018
2024-05-31     700    0.00       0     210    0.00       1   3,019
2024-06-30     700    0.00       0     210    0.00       1   3,020
2024-07-31     700    0.00       0     210    0.00       1   3,020
2024-08-31     700    0.00       0     210    0.00       1   3,021
2024-09-30     700    0.00       0     210    0.00       1   3,022
2024-10-31     700    0.00       0     210    0.00       1   3,022
2024-11-30     700    0.00       0     210    0.00       1   3,023

#### 3-3) IR Amount

In [174]:
IR_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.IR.dct.items()}, index=['amt_add'])
IR_dct['sum'] = IR_dct.sum(axis=1)
R(IR_dct)

           tra    trb    trc  trd    sum
amt_add  3,462  2,900  2,175  652  9,189

In [175]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.IR.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.IR.amt_add[:]
    loan_df[(key, 'bal_end')] = item.IR.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                     trb                     trc          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-01-31    0.00       0       0    0.00       0       0    0.00    0.00
2022-02-28    0.00      50      50    0.00     100     100    0.00   75.00
2022-03-31    0.00      50     100    0.00     100     200    0.00   75.00
2022-04-30    0.00      50     150    0.00     100     300    0.00   75.00
2022-05-31    0.00      50     200    0.00     100     400    0.00   75.00
2022-06-30    0.00      50     250    0.00     100     500    0.00   75.00
2022-07-31    0.00      50     300    0.00     100     600    0.00   75.00
2022-08-31    0.00      50     350    0.00     100     700    0.00   75.00
2022-09-30    0.00      50     400    0.00     100     800    0.00   75.00
2022-10-31    0.00      51     451    0.00     100     900    0.00   75.00
2022-11-30    0.00      60     512    0.00     100   1,000    0.00   75.00
2022-12-31    0.00      70     581    0.00     100   1,100    0.00   75.00
2023-01-31    0.00      79     660    0.00     100   1,200    0.00   75.00
2023-02-28    0.00      88     749    0.00     100   1,300    0.00   75.00
2023-03-31    0.00      98     846    0.00     100   1,400    0.00   75.00
2023-04-30    0.00     107     953    0.00     100   1,500    0.00   75.00
2023-05-31    0.00     116   1,070    0.00     100   1,600    0.00   75.00
2023-06-30    0.00     126   1,195    0.00     100   1,700    0.00   75.00
2023-07-31    0.00     139   1,335    0.00     100   1,800    0.00   75.00
2023-08-31    0.00     149   1,483    0.00     100   1,900    0.00   75.00
2023-09-30    0.00     158   1,642    0.00     100   2,000    0.00   75.00
2023-10-31    0.00     168   1,809    0.00     100   2,100    0.00   75.00
2023-11-30    0.00     181   1,990    0.00     100   2,200    0.00   75.00
2023-12-31    0.00     191   2,181    0.00     100   2,300    0.00   75.00
2024-01-31    0.00     210   2,391    0.00     100   2,400    0.00   75.00
2024-02-29    0.00     211   2,602    0.00     100   2,500    0.00   75.00
2024-03-31    0.00     213   2,815    0.00     100   2,600    0.00   75.00
2024-04-30    0.00     214   3,029    0.00     100   2,700    0.00   75.00
2024-05-31    0.00     216   3,245    0.00     100   2,800    0.00   75.00
2024-06-30    0.00     217   3,462    0.00     100   2,900    0.00   75.00
2024-07-31    0.00       0   3,462    0.00       0   2,900    0.00    0.00
2024-08-31    0.00       0   3,462    0.00       0   2,900    0.00    0.00
2024-09-30    0.00       0   3,462    0.00       0   2,900    0.00    0.00
2024-10-31    0.00       0   3,462    0.00       0   2,900    0.00    0.00
2024-11-30    0.00       0   3,462    0.00       0   2,900    0.00    0.00

                       trd                     sum
           bal_end amt_sub amt_add bal_end amt_sub amt_add bal_end
2021-12-31       0    0.00    0.00       0    0.00       0       0
2022-01-31       0    0.00    0.00       0    0.00       0       0
2022-02-28      75    0.00   22.50      22    0.00     248     248
2022-03-31     150    0.00   22.50      45    0.00     248     495
2022-04-30     225    0.00   22.50      68    0.00     248     742
2022-05-31     300    0.00   22.50      90    0.00     248     990
2022-06-30     375    0.00   22.50     112    0.00     248   1,238
2022-07-31     450    0.00   22.50     135    0.00     248   1,485
2022-08-31     525    0.00   22.50     158    0.00     248   1,732
2022-09-30     600    0.00   22.50     180    0.00     248   1,980
2022-10-31     675    0.00   22.50     202    0.00     249   2,229
2022-11-30     750    0.00   22.50     225    0.00     258   2,487
2022-12-31     825    0.00   22.50     248    0.00     267   2,754
2023-01-31     900    0.00   22.50     270    0.00     276   3,030
2023-02-28     975    0.00   22.50     292    0.00     286   3,316
2023-03-31   1,050    0.00   22.50     315    0.00     295   3,611
2023-04-30   1,125    0.00   22.50     338    0.00     304   3,916
2023-05-31   1,200    0.00   22.50     360    0.00     314   4,230
2023-06-30   1,275    0.00   22.50     382    0.00     323   4,553
2023-07-31   1,350    0.00   22.50     405    0.00     337   4,890
2023-08-31   1,425    0.00   22.50     428    0.00     346   5,236
2023-09-30   1,500    0.00   22.50     450    0.00     356   5,592
2023-10-31   1,575    0.00   22.50     472    0.00     365   5,957
2023-11-30   1,650    0.00   22.50     495    0.00     378   6,335
2023-12-31   1,725    0.00   22.50     518    0.00     388   6,724
2024-01-31   1,800    0.00   22.50     540    0.00     407   7,131
2024-02-29   1,875    0.00   22.50     562    0.00     409   7,540
2024-03-31   1,950    0.00   22.50     585    0.00     410   7,950
2024-04-30   2,025    0.00   22.50     608    0.00     412   8,362
2024-05-31   2,100    0.00   22.50     630    0.00     413   8,775
2024-06-30   2,175    0.00   22.50     652    0.00     414   9,189
2024-07-31   2,175    0.00    0.00     652    0.00       0   9,189
2024-08-31   2,175    0.00    0.00     652    0.00       0   9,189
2024-09-30   2,175    0.00    0.00     652    0.00       0   9,189
2024-10-31   2,175    0.00    0.00     652    0.00       0   9,189
2024-11-30   2,175    0.00    0.00     652    0.00       0   9,189