In [1]:
from IPython.display import display
import pickle
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
import cafle as cf
from cafle.genfunc import rounding as R
from cafle.genfunc import PY
from cafle.genfunc import EmptyClass

In [3]:
pd.options.display.max_columns = 40
pd.options.display.max_rows = 200
print(pd.get_option("display.max_columns"), 
      pd.get_option("display.max_rows"))

40 200

# Introduction

* Real estate development

# Area Data

In [4]:
# Pickling Data
with open("data/area.pickle", "rb") as fr:
    data_area = pickle.load(fr)

In [5]:
data_area['mtrxpy']

exclsv           exclsv                                                   \
name            nmlstrg  cldstrg canopy    berth  office   stair  mchnrm
ttlfloor floor
ttlfloor b1        0.00  2565.58    0.0   487.20  207.38   59.78  523.83
         f1        0.00  2881.81    0.0     0.00   87.44   66.40    0.00
         f2     2621.46     0.00    0.0   476.93   73.75   72.90    0.00
         f3     2698.53     0.00    0.0   390.21   22.92   66.40    0.00
         f4     1397.94     0.00  203.3     0.00   19.52   37.86    0.00
         sum    6717.93  5447.39  203.3  1354.34  411.01  303.34  523.83
nonfloor f1        0.00     0.00    0.0   263.47    0.00    0.00    0.00
         f3        0.00     0.00    0.0     0.00    0.00    0.00    0.00
         sum       0.00     0.00    0.0   263.47    0.00    0.00    0.00
ttl      sum    6717.93  5447.39  203.3  1617.81  411.01  303.34  523.83

exclsv                     common                     ttl          rent
name                 sum  passage ramp      sum       sum           sum
ttlfloor floor
ttlfloor b1      3843.77   696.65  0.0   696.65   4540.42   3438.238769
         f1      3035.65     0.00  0.0     0.00   3035.65   3143.818719
         f2      3245.04   669.66  0.0   669.66   3914.70   3360.669872
         f3      3178.06     0.00  0.0     0.00   3178.06   3291.303186
         f4      1658.62     0.00  0.0     0.00   1658.62   1717.721280
         sum    14961.14  1366.31  0.0  1366.31  16327.45  14951.751825
nonfloor f1       263.47   525.71  0.0   525.71    789.18    272.858175
         f3         0.00   559.42  0.0   559.42    559.42      0.000000
         sum      263.47  1085.13  0.0  1085.13   1348.60    272.858175
ttl      sum    15224.61  2451.44  0.0  2451.44  17676.05  15224.610000

In [6]:
area_ttl = data_area['mtrxpy'].loc[('ttl', 'sum'), ('ttl', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area_cld = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
area_nml = sum(data_area['mtrxpy'].loc[:, ('ttl', 'sum')][loc_nml])

floor_ttl = data_area['mtrxpy'].loc[('ttlfloor', 'sum'), ('ttl', 'sum')]

loc_cld = [x in ['b1', 'f1'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
floor_cld = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_cld])

loc_nml = [x in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].loc['ttlfloor'].index]
floor_nml = sum(data_area['mtrxpy'].loc['ttlfloor'].loc[:, ('ttl', 'sum')][loc_nml])

rent_ttl = data_area['mtrxpy'].loc[('ttl', 'sum'), ('rent', 'sum')]

loc_cld = [x  in ['b1', 'f1'] for x in data_area['mtrxpy'].index.get_level_values(1)]
rent_cld = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_cld])

loc_nml = [x  in ['f2', 'f3', 'f4'] for x in data_area['mtrxpy'].index.get_level_values(1)]
rent_nml = sum(data_area['mtrxpy'].loc[:, ('rent', 'sum')][loc_nml])


print(f"Total area  : {area_ttl:>10,.1f}")
print(f"Cold area   : {area_cld:>10,.1f}")
print(f"Nomal area  : {area_nml:>10,.1f}")
print(f"Total floor : {floor_ttl:>10,.1f}")
print(f"Cold floor  : {floor_cld:>10,.1f}")
print(f"Nomal floor : {floor_nml:>10,.1f}")
print(f"Total rent  : {rent_ttl:>10,.1f}")
print(f"Cold rent   : {rent_cld:>10,.1f}")
print(f"Nomal rent  : {rent_nml:>10,.1f}")

Total area  :   17,676.0
Cold area   :    8,365.2
Nomal area  :    9,310.8
Total floor :   16,327.5
Cold floor  :    7,576.1
Nomal floor :    8,751.4
Total rent  :   15,224.6
Cold rent   :    6,854.9
Nomal rent  :    8,369.7

# Initial Setting

In [7]:
astn = EmptyClass()

# Input Index Data

In [8]:
tmp_col = ['idxname', 'start', 'periods']
tmp_ary = [['prjt',  '2021-12', 35],
           ['cstrn', '2022-01', 23],
           ['loan',  '2022-01', 29],
           ['sales', '2022-01', 29]]
astn.index = DataFrame(tmp_ary, columns=tmp_col)

idx = cf.PrjtIndex(idxname = list(astn.index.idxname),
                   start   = list(astn.index.start),
                   periods = list(astn.index.periods + 1),
                   freq    = 'M')

# Input Financing Condition Data

In [9]:
tmp_col = ['title', 'amt_ntnl', 'amt_intl']
tmp_ary = [['equity',  1_300,     1_300]]
astn.equity = DataFrame(tmp_ary, columns=tmp_col)

equity = cf.Loan(idx,
                 amt_ntnl = astn.equity.amt_ntnl[0],
                 amt_intl = astn.equity.amt_intl[0])

In [10]:
tmp_col = ['title', 'rnk', 'amt_ntnl', 'amt_intl', 'rate_fee', 'rate_IR']
tmp_ary = [['tra',     0,     70_000,     13_000,      0.020,     0.042],
           ['trb',     1,     27_000,     27_000,      0.040,     0.070]]
astn.loan = DataFrame(tmp_ary, columns=tmp_col).sort_values(by=['rnk'])

loan = cf.Intlz_loan(idx, idx.loan,
                     title = astn.loan.title,
                     rnk = astn.loan.rnk,
                     amt_ntnl = astn.loan.amt_ntnl,
                     amt_intl = astn.loan.amt_intl,
                     rate_fee = astn.loan.rate_fee,
                     rate_IR = astn.loan.rate_IR)

# Fee on balance for Tr.A
loan.feeonbal_tra = 0.002

print("## Financing Condition ##\n")
print(f"Total Equity amount:{sum(astn.equity.amt_ntnl):>7,.0f}")
print(f"Total loan amount:  {sum(astn.loan.amt_ntnl):>7,.0f}")
print(R(astn.loan, rate=['rate_fee', 'rate_IR']))

## Financing Condition ##

Total Equity amount:  1,300
Total loan amount:   97,000
  title   rnk amt_ntnl amt_intl rate_fee rate_IR
0   tra  0.00   70,000   13,000     2.00    4.20
1   trb  1.00   27,000   27,000     4.00    7.00

In [11]:
fee_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_fee)
IR_amt = sum(astn.loan.amt_ntnl * astn.loan.rate_IR * 29 / 12)
arng_amt = sum(astn.loan.amt_ntnl * 0.02)

ttl_amt = fee_amt + IR_amt + arng_amt
allin_rate = ttl_amt / sum(astn.loan.amt_ntnl) * 12 / 29

print(f"allin_rate : {allin_rate*100:>5.2f}%")

allin_rate :  6.86%

# Input Sales Data

In [12]:
# Pickling Data
with open("data/valuation.pickle", "rb") as fr:
    data_valuation = pickle.load(fr)
valuation = data_valuation['valuation_pivot']
value = valuation.loc[[('23,000', '50,000')]].values[0]
print("## Valuation Matrix ##")
display(R(valuation))

## Valuation Matrix ##

cap_rate         (4.0, 4.6) (4.1, 4.8) (4.2, 5.0) (4.3, 5.2) (4.4, 5.4)
rent
(21,000, 46,000)    123,728    119,432    115,441    111,721    108,246
(22,000, 48,000)    128,976    124,499    120,339    116,463    112,840
(23,000, 50,000)    134,224    129,566    125,238    121,204    117,435
(24,000, 52,000)    139,472    134,633    130,136    125,945    122,029
(25,000, 54,000)    144,720    139,700    135,034    130,687    126,624
(26,000, 56,000)    149,969    144,766    139,933    135,428    131,218

In [13]:
sales_value = 125_000
sales = cf.Account(idx, 'Sales')
sales.addamt(idx.sales[0], sales_value)
sales.subscdd(idx.sales[-1], sales_value)

# Input Cost Data

### 1) Set Cost Class

In [14]:
cost = cf.Cost(idx)

### 2) Land Purchase Costs

In [15]:
lnd = {}

In [16]:
title = ('lnd', 'prchs') # land purchase cost
byname = '용지매입비'
lnd['prchs'] = 14_500
tmp_ary = [[idx.prjt[0],  1_000],
           [idx.loan[0], 13_500]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total prchs  : {lnd['prchs']:>10,.1f}")
print(f"Intl prchs   : {cost['prchs'].add_scdd[idx.prjt[0]]:>10,.1f}")
print(f"Secnd prchs  : {cost['prchs'].add_scdd[idx.loan[0]]:>10,.1f} ")

Total prchs  :   14,500.0
Intl prchs   :    1,000.0
Secnd prchs  :   13,500.0

In [17]:
title = ('lnd', 'brkrg') # land brokerage fee
byname = '부동산중개비용'
lnd['brkrg'] = lnd['prchs'] * 0.009
intlcst = 39
tmp_ary = [[idx.prjt[0],  intlcst],
           [idx.loan[0],  lnd['brkrg'] - intlcst]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total brkrg  : {lnd['brkrg']:>10,.1f}")
print(f"Intl brkrg   : {intlcst:>10,.1f}")
print(f"Secnd brkrg  : {cost['brkrg'].add_scdd[idx.loan[0]]:>10,.1f}")

Total brkrg  :      130.5
Intl brkrg   :       39.0
Secnd brkrg  :       91.5

In [18]:
title = ('lnd', 'nhbond') # national housing bond
byname = '국민주택채권'
매입률 = 0.045
본인부담률 = 0.055
lnd['nhbond'] = lnd['prchs'] * 매입률 * 본인부담률
tmp_ary = [[idx.loan[0], lnd['nhbond']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total nhbond : {cost['nhbond'].add_scdd[idx.loan[0]]:10,.1f}")

Total nhbond :       35.9

In [19]:
title = ('lnd', 'jdclcst') # judicial scrivener cost
byname = '법무사비용'
수수료율 = 0.001
lnd['jdclcst'] = lnd['prchs'] * 수수료율
tmp_ary = [[idx.loan[0], lnd['jdclcst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total jdclcst : {cost['jdclcst'].add_scdd[idx.loan[0]]:10,.1f}")

Total jdclcst :       14.5

In [20]:
title = ('lnd', 'tax_aqstn') # land acquisition and registration tax
byname = '취등록세'
취득세율 = 0.040
농특세율 = 0.002
교육세율 = 0.004
lnd['tax_aqstn'] = sum(cost['lnd'].amt) * (취득세율 + 농특세율 + 교육세율)
tmp_ary = [[idx.loan[0], lnd['tax_aqstn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

print(f"Total tax_aqstn : {cost['tax_aqstn'].add_scdd[idx.loan[0]]:10,.1f}")

Total tax_aqstn :      675.3

In [21]:
lnd['sum'] = sum(cost['lnd'].amt)

print(f"Total land cost : {lnd['sum']:10,.1f}")

Total land cost :   15,356.2

### 3) Construction Costs

In [22]:
cstrn = {}
cstrn['dmltn'] = 35 + 1_180 # 철거비: 3,550평 x 342천원
cstrn['civil'] = 8_490 # 토목공사: 16,327평 x 520천원
cstrn['nml_fclt'] = area_nml * 2.66 # 상온시설: 9,311평 x 2,660천원
cstrn['cld_fclt'] = area_cld * 3.66 # 저온시설: 8,365평 x 3,660천원
cstrn['ttl_fclt'] = cstrn['nml_fclt'] + cstrn['cld_fclt']

cstrn['sum'] = 65_000 # 철거, 토목, 건축공사 통합 650억원으로 설정

retention_rate = 0.1
cstrn['intl'] = 35
cstrn['sum_prd'] = cstrn['sum'] * (1-retention_rate) - cstrn['intl']
cstrn['sum_rttn'] = cstrn['sum'] * retention_rate

print(f"Total construction cost:   {cstrn['sum']:>10,.0f}")
print(f"Initial construction cost: {cstrn['intl']:>10,.0f}")
print(f"Period construction cost:  {cstrn['sum_prd']:>10,.0f}")
print(f"Retained construction cost:{cstrn['sum_rttn']:>10,.0f}")

Total construction cost:       65,000
Initial construction cost:         35
Period construction cost:      58,465
Retained construction cost:     6,500

In [23]:
title = ('cstrn', 'cstrn') # construction cost
byname = '공사비'
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[idx.prjt[0], cstrn['intl']]]
tmp_ary.extend([[x, cstrn['sum_prd'] / tmp_len] for x in tmp_idx])
tmp_ary.append([idx.prjt[-1], cstrn['sum_rttn']])

cost.inptcst(title, byname, scdddf=tmp_ary)

### 4) Indirect Construction Costs

In [24]:
cstrnidrt = {}

In [25]:
title = ('cstrnidrt', 'wtrelec') # water supply, electricity etc. 
byname = '각종인입비'
cstrnidrt['wtrelec'] = 980
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wtrelec']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [26]:
title = ('cstrnidrt', 'wsctbn') # water and sewage contribution
byname = '상수도분담금'
cstrnidrt['wsctbn'] = 163
tmp_ary = [[idx.locval(2023, 10), cstrnidrt['wsctbn']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [27]:
title = ('cstrnidrt', 'dsgncst') # design cost
byname = '설계비'
cstrnidrt['dsgncst'] = 624
tmp_ary = [[idx.loan[0], cstrnidrt['dsgncst']]]
# 16,327평 x 38천원
cost.inptcst(title, byname, scdddf=tmp_ary)

In [28]:
title = ('cstrnidrt', 'lcnscst') # license cost
byname = '인허가비용'
cstrnidrt['lcnscst'] = 528
tmp_ary = [[idx.loan[0], cstrnidrt['lcnscst']]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [29]:
title = ('cstrnidrt', 'spvsn') # supervision cost
byname = '감리비'
cstrnidrt['spvsn'] = 490 # 16,327평 x 30천원, 월별 분할 부과
tmp_idx = idx.cstrn.index
tmp_len = len(idx.cstrn)
tmp_ary = [[x, cstrnidrt['spvsn'] / tmp_len] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 5) Marketing Costs

In [30]:
mrktg = {}

In [31]:
title = ('mrktg', 'rentagncy') # rent agency cost
byname = '임대대행수수료'
mrktg['rentagncy'] = 1_115
tmp_ary = [[idx.prjt[-1], mrktg['rentagncy']]]
# 임대계약 실행시 월 임대료의 2개월치 지급
# 1개월치 임대료 517백만원 가정
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [32]:
title = ('mrktg', 'salescsltg') # sales consulting fee
byname = '매각컨설팅수수료'
mrktg['salescsltg'] = 1_000
tmp_ary = [[idx.loan[0], mrktg['salescsltg']]]
# 추정매각가 x 0.8%
# 전액 성공불 지급
cost.inptcst(title, byname, scdddf=tmp_ary)

In [33]:
title = ('mrktg', 'advtsmnt') # advertisement and promotion cost
byname = '광고홍보비'
mrktg['advtsmnt'] = 500
tmp_ary = [[idx.locval(2022, 6), mrktg['advtsmnt'] * 0.5],
           [idx.locval(2023, 6), mrktg['advtsmnt'] * 0.5]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 6) Tax and Utility bills(제세공과금)

In [34]:
title = ('taxutlt', 'prpttax') # property tax
byname = '재산세종부세'
tmp_ary = [[idx.locval(2022, 6), 37],
           [idx.locval(2023, 6), 37]]
# 5,590 x 0.62% 2년
cost.inptcst(title, byname, scdddf=tmp_ary)

In [35]:
title = ('taxutlt', 'prsvtntax') # preservation registration fee
byname = '보존등기비'
tmp_ary = [[idx.cstrn[-1], 2_866]]
# 건물 취득비용 x 3.40%(취득세 2.8%, 농특세 0.2%, 교육세 0.16%, 법무사 0.24%)
cost.inptcst(title, byname, scdddf=tmp_ary)

### 7) Additional Costs

In [36]:
title = ('addtnl', 'pmfee') # Additional expense, PM fee
byname = 'PM수수료'
tmp_ary = [[idx.loan[0], 200]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [37]:
title = ('addtnl', 'oprtgcst') # company operating cost
unt_amt = 30 # 3,000만원/월
tmp_idx = idx.loan.index
tmp_ary = [[x, unt_amt] for x in tmp_idx]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [38]:
title = ('addtnl', 'rsrvfund') # reserve fund
byname = '예비비'
tmp_ary = [[idx.locval(2022, 6), 940],
           [idx.locval(2023, 6), 939]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [39]:
title = ('addtnl', 'trustcst') # trust fee
byname = '신탁수수료'
tmp_ary = [[idx.loan[0], 1_879]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [40]:
title = ('addtnl', 'csltcst') # consulting fee
byname = '사평감평용역비'
tmp_ary = [[idx.prjt[0], 10],
           [idx.loan[0], 140]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [41]:
title = ('addtnl', 'legalcst') # legal advice fee
byname = '법률자문'
tmp_ary = [[idx.loan[0], 40]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 8) Financing Costs

In [42]:
title = ('fncg', 'arngmnt') # financing arrangement fee
byname = '금융주관수수료'
tmp_rate = 0.02 #2.0%
tmp_amt = sum(loan.amt_ntnl)
tmp_ary = [[idx.loan[0], tmp_amt * tmp_rate]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [43]:
title = ('fncg', 'spcoprtg') # spc operating cost
byname = 'SPC유동화비용'
tmp_ary = [[idx.loan[0], 66]]
cost.inptcst(title, byname, scdddf=tmp_ary)

In [44]:
title = ('fncg', 'agntbank') # agent banking fee
byname = '대리금융기관'
tmp_ary = [[idx.locval(2022, 1), 30],
           [idx.locval(2023, 1), 30]]
cost.inptcst(title, byname, scdddf=tmp_ary)

### 9) Cost Matrix

In [45]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.add_scdd[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].add_scdd[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg nhbond jdclcst tax_aqstn  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00   0.00    0.00         0     35         0      0
2022-01-31  13,500  91.50  35.89   14.50       675  2,436         0      0
2022-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2022-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-10-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-01-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2023-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-10-31       0   0.00   0.00    0.00         0  2,436       980    163
2023-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2024-01-31       0   0.00   0.00    0.00         0      0         0      0
2024-02-29       0   0.00   0.00    0.00         0      0         0      0
2024-03-31       0   0.00   0.00    0.00         0      0         0      0
2024-04-30       0   0.00   0.00    0.00         0      0         0      0
2024-05-31       0   0.00   0.00    0.00         0      0         0      0
2024-06-30       0   0.00   0.00    0.00         0      0         0      0
2024-07-31       0   0.00   0.00    0.00         0      0         0      0
2024-08-31       0   0.00   0.00    0.00         0      0         0      0
2024-09-30       0   0.00   0.00    0.00         0      0         0      0
2024-10-31       0   0.00   0.00    0.00         0      0         0      0
2024-11-30       0   0.00   0.00    0.00         0  6,500         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0      1,000        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,115          0        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                       sum
           arngmnt spcoprtg agntbank     sum
2021-12-31       0     0.00     0.00   1,084
2022-01-31   1,940    66.00    30.00  23,251
2022-02-28       0     0.00     0.00   2,486
2022-03-31       0     0.00     0.00   2,486
2022-04-30       0     0.00     0.00   2,486
2022-05-31       0     0.00     0.00   2,486
2022-06-30       0     0.00     0.00   3,713
2022-07-31       0     0.00     0.00   2,486
2022-08-31       0     0.00     0.00   2,486
2022-09-30       0     0.00     0.00   2,486
2022-10-31       0     0.00     0.00   2,486
2022-11-30       0     0.00     0.00   2,486
2022-12-31       0     0.00     0.00   2,486
2023-01-31       0     0.00    30.00   2,516
2023-02-28       0     0.00     0.00   2,486
2023-03-31       0     0.00     0.00   2,486
2023-04-30       0     0.00     0.00   2,486
2023-05-31       0     0.00     0.00   2,486
2023-06-30       0     0.00     0.00   3,712
2023-07-31       0     0.00     0.00   2,486
2023-08-31       0     0.00     0.00   2,486
2023-09-30       0     0.00     0.00   2,486
2023-10-31       0     0.00     0.00   3,629
2023-11-30       0     0.00     0.00   2,486
2023-12-31       0     0.00     0.00   5,352
2024-01-31       0     0.00     0.00      30
2024-02-29       0     0.00     0.00      30
2024-03-31       0     0.00     0.00      30
2024-04-30       0     0.00     0.00      30
2024-05-31       0     0.00     0.00      30
2024-06-30       0     0.00     0.00      30
2024-07-31       0     0.00     0.00       0
2024-08-31       0     0.00     0.00       0
2024-09-30       0     0.00     0.00       0
2024-10-31       0     0.00     0.00       0
2024-11-30       0     0.00     0.00   7,615

In [46]:
cost_df.sum()

lnd        prchs         14500.000000
           brkrg           130.500000
           nhbond           35.887500
           jdclcst          14.500000
           tax_aqstn       675.320825
cstrn      cstrn         65000.000000
cstrnidrt  wtrelec         980.000000
           wsctbn          163.000000
           dsgncst         624.000000
           lcnscst         528.000000
           spvsn           490.000000
mrktg      rentagncy      1115.000000
           salescsltg     1000.000000
           advtsmnt        500.000000
taxutlt    prpttax          74.000000
           prsvtntax      2866.000000
addtnl     pmfee           200.000000
           oprtgcst        900.000000
           rsrvfund       1879.000000
           trustcst       1879.000000
           csltcst         150.000000
           legalcst         40.000000
fncg       arngmnt        1940.000000
           spcoprtg         66.000000
           agntbank         60.000000
sum        sum           95810.208325
dtype: float64

# Execution Cash Flow

In [47]:
acc = cf.Intlz_accounts(idx, ['oprtg', 'sales', 'repay'])

In [48]:
# Execute cash flow
for idxno in idx.index:
    #### Loans: set loan withdrawble ####
    # If it's initial date then set loan withdrawble.
    equity.set_wtdrbl_intldate(idxno, idx[0])
    for rnk in loan.rnk:
        loan[rnk].set_wtdrbl_intldate(idxno)
    
    #### Cash Inflow: cash inflow from sales or rent etc. ####
    salesamt = sales.sub_scdd[idxno]
    if salesamt > 0:
        sales.send(idxno, salesamt, acc.repay)
    
    #### Expected Costs: calculate expected costs ####
    # calculate operating costs
    oprtg_cost = cost['all'].add_scdd[idxno]

    # calculate financial costs
    for rnk in loan.rnk:
        if idxno == loan[rnk].idxfn[0]:
            loan[rnk].fee.addscdd(idxno, loan[rnk].fee.amt)
        if all([loan[rnk].is_wtdrbl, not loan[rnk].is_repaid]):
            loan[rnk].IR.addscdd(idxno, loan[rnk].IRamt_topay(idxno))
    
    # calculate financial fee on balance on Tr.A
    ntnl_sub_rsdl_tra = loan.tra.ntnl_sub_rsdl(idxno)
    feeonbal = ntnl_sub_rsdl_tra * loan.feeonbal_tra / 12
    loan.tra.fee.addscdd(idxno, feeonbal)
    
    # gathering financial costs
    fncl_fee = loan.ttl.fee.add_scdd[idxno]
    fncl_IR = loan.ttl.IR.add_scdd[idxno]

    cost_ttl = oprtg_cost + fncl_fee + fncl_IR
    
    
    #### Loans: withdraw loan ####
    # calculate the amount to withdraw
    amt_rqrd = acc.oprtg.amt_rqrd_excess(idxno, cost_ttl)
    
    # withdraw loan amount
    amt_wtdrw = 0
    amt_wtdrw += equity.wtdrw(idxno, equity.amt_intl, acc.oprtg)
    if idxno == idx.loan[0]:
        # withdraw initial loan amount
        for rnk in sorted(loan.rnk, reverse=True):
            amt_wtdrw += loan[rnk].wtdrw(idxno, loan[rnk].amt_intl, acc.oprtg)
    
    amt_rqrd = max(amt_rqrd - amt_wtdrw, 0)
    for rnk in sorted(loan.rnk, reverse=True):
        amt_rqrd = max(amt_rqrd - loan[rnk].wtdrw(idxno, amt_rqrd, acc.oprtg), 0)
    
    
    #### Costs: 토지비, 공사비 등 각종 비용 지출 ####
    for cst_name, cst_acc in cost['all'].dct.items():
        amt_scdd = cst_acc.add_scdd[idxno]
        acc.oprtg.send(idxno, amt_scdd, cst_acc)
        
    
    #### Loans: pay financial cost ####
    for rnk in loan.rnk:
        acc.oprtg.send(idxno, loan[rnk].fee.add_scdd[idxno], loan[rnk].fee)

    for rnk in loan.rnk:
        acc.oprtg.send(idxno, loan[rnk].IR.add_scdd[idxno], loan[rnk].IR)
    
    
    #### Loans: repay loan amount ####
    if idxno >= loan.idxfn[-1]: # 만기 도래 여부 확인
        for rnk in loan.rnk:
            if rnk == 0 or loan[rnk-1].is_repaid:
                amtrpy = loan[rnk].repay_amt(idxno, acc.repay.bal_end[idxno])
                acc.repay.send(idxno, amtrpy, loan[rnk].ntnl)
                loan[rnk].set_repaid(idxno)
        
            if rnk == max(loan.rnk):
                acc.repay.send(idxno, acc.repay.bal_end[idxno], acc.oprtg)
        
    
    #### Loans: Set back loan unwithdrawble at maturity ####
    # If it was maturity date then set back loan unwithdrawble.
    equity.setback_wtdrbl_mtrt(idxno)
    for rnk in loan.rnk:
        loan[rnk].setback_wtdrbl_mtrt(idxno)

# Analysis of Results

### 1) Accounts

In [49]:
print("## Operating Account ##")
display(R(acc.oprtg.df))

## Operating Account ##

           add_scdd sub_scdd bal_strt amt_add amt_sub bal_end
2021-12-31     0.00     0.00        0   1,300   1,084     216
2022-01-31     0.00     0.00      216  40,000  25,742  14,474
2022-02-28     0.00     0.00   14,474       0   2,699  11,775
2022-03-31     0.00     0.00   11,775       0   2,699   9,076
2022-04-30     0.00     0.00    9,076       0   2,699   6,377
2022-05-31     0.00     0.00    6,377       0   2,699   3,678
2022-06-30     0.00     0.00    3,678     300   3,926      52
2022-07-31     0.00     0.00       52   2,700   2,700      52
2022-08-31     0.00     0.00       52   2,700   2,709      43
2022-09-30     0.00     0.00       43   2,700   2,718      25
2022-10-31     0.00     0.00       25   2,800   2,727      98
2022-11-30     0.00     0.00       98   2,700   2,736      62
2022-12-31     0.00     0.00       62   2,700   2,745      16
2023-01-31     0.00     0.00       16   2,800   2,784      32
2023-02-28     0.00     0.00       32   2,800   2,764      69
2023-03-31     0.00     0.00       69   2,800   2,773      96
2023-04-30     0.00     0.00       96   2,700   2,782      13
2023-05-31     0.00     0.00       13   2,800   2,791      22
2023-06-30     0.00     0.00       22   4,100   4,027      95
2023-07-31     0.00     0.00       95   2,800   2,814      81
2023-08-31     0.00     0.00       81   2,800   2,824      57
2023-09-30     0.00     0.00       57   2,800   2,833      25
2023-10-31     0.00     0.00       25   4,000   3,985      39
2023-11-30     0.00     0.00       39   2,900   2,856      84
2023-12-31     0.00     0.00       84   5,700   5,731      52
2024-01-31     0.00     0.00       52     400     428      24
2024-02-29     0.00     0.00       24     500     429      95
2024-03-31     0.00     0.00       95     400     431      64
2024-04-30     0.00     0.00       64     100     432    -268
2024-05-31     0.00     0.00     -268       0     432    -700
2024-06-30     0.00     0.00     -700  28,000     432  26,867
2024-07-31     0.00     0.00   26,867       0       0  26,867
2024-08-31     0.00     0.00   26,867       0       0  26,867
2024-09-30     0.00     0.00   26,867       0       0  26,867
2024-10-31     0.00     0.00   26,867       0       0  26,867
2024-11-30     0.00     0.00   26,867       0   7,615  19,252

In [50]:
print("## Sales Account ##")
display(R(sales.df))

## Sales Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub  bal_end
2021-12-31     0.00        0        0        0        0        0
2022-01-31     0.00        0        0  125,000        0  125,000
2022-02-28     0.00        0  125,000        0        0  125,000
2022-03-31     0.00        0  125,000        0        0  125,000
2022-04-30     0.00        0  125,000        0        0  125,000
2022-05-31     0.00        0  125,000        0        0  125,000
2022-06-30     0.00        0  125,000        0        0  125,000
2022-07-31     0.00        0  125,000        0        0  125,000
2022-08-31     0.00        0  125,000        0        0  125,000
2022-09-30     0.00        0  125,000        0        0  125,000
2022-10-31     0.00        0  125,000        0        0  125,000
2022-11-30     0.00        0  125,000        0        0  125,000
2022-12-31     0.00        0  125,000        0        0  125,000
2023-01-31     0.00        0  125,000        0        0  125,000
2023-02-28     0.00        0  125,000        0        0  125,000
2023-03-31     0.00        0  125,000        0        0  125,000
2023-04-30     0.00        0  125,000        0        0  125,000
2023-05-31     0.00        0  125,000        0        0  125,000
2023-06-30     0.00        0  125,000        0        0  125,000
2023-07-31     0.00        0  125,000        0        0  125,000
2023-08-31     0.00        0  125,000        0        0  125,000
2023-09-30     0.00        0  125,000        0        0  125,000
2023-10-31     0.00        0  125,000        0        0  125,000
2023-11-30     0.00        0  125,000        0        0  125,000
2023-12-31     0.00        0  125,000        0        0  125,000
2024-01-31     0.00        0  125,000        0        0  125,000
2024-02-29     0.00        0  125,000        0        0  125,000
2024-03-31     0.00        0  125,000        0        0  125,000
2024-04-30     0.00        0  125,000        0        0  125,000
2024-05-31     0.00        0  125,000        0        0  125,000
2024-06-30     0.00  125,000  125,000        0  125,000        0
2024-07-31     0.00        0        0        0        0        0
2024-08-31     0.00        0        0        0        0        0
2024-09-30     0.00        0        0        0        0        0
2024-10-31     0.00        0        0        0        0        0
2024-11-30     0.00        0        0        0        0        0

In [51]:
print("## Repayment Account ##")
display(R(acc.repay.df))

## Repayment Account ##

           add_scdd sub_scdd bal_strt  amt_add  amt_sub bal_end
2021-12-31     0.00     0.00     0.00        0        0    0.00
2022-01-31     0.00     0.00     0.00        0        0    0.00
2022-02-28     0.00     0.00     0.00        0        0    0.00
2022-03-31     0.00     0.00     0.00        0        0    0.00
2022-04-30     0.00     0.00     0.00        0        0    0.00
2022-05-31     0.00     0.00     0.00        0        0    0.00
2022-06-30     0.00     0.00     0.00        0        0    0.00
2022-07-31     0.00     0.00     0.00        0        0    0.00
2022-08-31     0.00     0.00     0.00        0        0    0.00
2022-09-30     0.00     0.00     0.00        0        0    0.00
2022-10-31     0.00     0.00     0.00        0        0    0.00
2022-11-30     0.00     0.00     0.00        0        0    0.00
2022-12-31     0.00     0.00     0.00        0        0    0.00
2023-01-31     0.00     0.00     0.00        0        0    0.00
2023-02-28     0.00     0.00     0.00        0        0    0.00
2023-03-31     0.00     0.00     0.00        0        0    0.00
2023-04-30     0.00     0.00     0.00        0        0    0.00
2023-05-31     0.00     0.00     0.00        0        0    0.00
2023-06-30     0.00     0.00     0.00        0        0    0.00
2023-07-31     0.00     0.00     0.00        0        0    0.00
2023-08-31     0.00     0.00     0.00        0        0    0.00
2023-09-30     0.00     0.00     0.00        0        0    0.00
2023-10-31     0.00     0.00     0.00        0        0    0.00
2023-11-30     0.00     0.00     0.00        0        0    0.00
2023-12-31     0.00     0.00     0.00        0        0    0.00
2024-01-31     0.00     0.00     0.00        0        0    0.00
2024-02-29     0.00     0.00     0.00        0        0    0.00
2024-03-31     0.00     0.00     0.00        0        0    0.00
2024-04-30     0.00     0.00     0.00        0        0    0.00
2024-05-31     0.00     0.00     0.00        0        0    0.00
2024-06-30     0.00     0.00     0.00  125,000  125,000    0.00
2024-07-31     0.00     0.00     0.00        0        0    0.00
2024-08-31     0.00     0.00     0.00        0        0    0.00
2024-09-30     0.00     0.00     0.00        0        0    0.00
2024-10-31     0.00     0.00     0.00        0        0    0.00
2024-11-30     0.00     0.00     0.00        0        0    0.00

### 2) Costs

In [52]:
cost_dct = cost["all"].dct.items()
cost_df = DataFrame({key:item.amt_add[:] for key, item in cost_dct})
cost_df[("sum", "sum")] = cost["all"].amt_add[:]
display(R(cost_df))

               lnd                                  cstrn cstrnidrt         \
             prchs  brkrg nhbond jdclcst tax_aqstn  cstrn   wtrelec wsctbn
2021-12-31   1,000  39.00   0.00    0.00         0     35         0      0
2022-01-31  13,500  91.50  35.89   14.50       675  2,436         0      0
2022-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2022-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-10-31       0   0.00   0.00    0.00         0  2,436         0      0
2022-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2022-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-01-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-02-28       0   0.00   0.00    0.00         0  2,436         0      0
2023-03-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-04-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-05-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-06-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-07-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-08-31       0   0.00   0.00    0.00         0  2,436         0      0
2023-09-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-10-31       0   0.00   0.00    0.00         0  2,436       980    163
2023-11-30       0   0.00   0.00    0.00         0  2,436         0      0
2023-12-31       0   0.00   0.00    0.00         0  2,436         0      0
2024-01-31       0   0.00   0.00    0.00         0      0         0      0
2024-02-29       0   0.00   0.00    0.00         0      0         0      0
2024-03-31       0   0.00   0.00    0.00         0      0         0      0
2024-04-30       0   0.00   0.00    0.00         0      0         0      0
2024-05-31       0   0.00   0.00    0.00         0      0         0      0
2024-06-30       0   0.00   0.00    0.00         0      0         0      0
2024-07-31       0   0.00   0.00    0.00         0      0         0      0
2024-08-31       0   0.00   0.00    0.00         0      0         0      0
2024-09-30       0   0.00   0.00    0.00         0      0         0      0
2024-10-31       0   0.00   0.00    0.00         0      0         0      0
2024-11-30       0   0.00   0.00    0.00         0  6,500         0      0

                                      mrktg                     taxutlt  \
           dsgncst lcnscst  spvsn rentagncy salescsltg advtsmnt prpttax
2021-12-31       0       0   0.00         0          0        0    0.00
2022-01-31     624     528  20.42         0      1,000        0    0.00
2022-02-28       0       0  20.42         0          0        0    0.00
2022-03-31       0       0  20.42         0          0        0    0.00
2022-04-30       0       0  20.42         0          0        0    0.00
2022-05-31       0       0  20.42         0          0        0    0.00
2022-06-30       0       0  20.42         0          0      250   37.00
2022-07-31       0       0  20.42         0          0        0    0.00
2022-08-31       0       0  20.42         0          0        0    0.00
2022-09-30       0       0  20.42         0          0        0    0.00
2022-10-31       0       0  20.42         0          0        0    0.00
2022-11-30       0       0  20.42         0          0        0    0.00
2022-12-31       0       0  20.42         0          0        0    0.00
2023-01-31       0       0  20.42         0          0        0    0.00
2023-02-28       0       0  20.42         0          0        0    0.00
2023-03-31       0       0  20.42         0          0        0    0.00
2023-04-30       0       0  20.42         0          0        0    0.00
2023-05-31       0       0  20.42         0          0        0    0.00
2023-06-30       0       0  20.42         0          0      250   37.00
2023-07-31       0       0  20.42         0          0        0    0.00
2023-08-31       0       0  20.42         0          0        0    0.00
2023-09-30       0       0  20.42         0          0        0    0.00
2023-10-31       0       0  20.42         0          0        0    0.00
2023-11-30       0       0  20.42         0          0        0    0.00
2023-12-31       0       0  20.42         0          0        0    0.00
2024-01-31       0       0   0.00         0          0        0    0.00
2024-02-29       0       0   0.00         0          0        0    0.00
2024-03-31       0       0   0.00         0          0        0    0.00
2024-04-30       0       0   0.00         0          0        0    0.00
2024-05-31       0       0   0.00         0          0        0    0.00
2024-06-30       0       0   0.00         0          0        0    0.00
2024-07-31       0       0   0.00         0          0        0    0.00
2024-08-31       0       0   0.00         0          0        0    0.00
2024-09-30       0       0   0.00         0          0        0    0.00
2024-10-31       0       0   0.00         0          0        0    0.00
2024-11-30       0       0   0.00     1,115          0        0    0.00

                     addtnl                                              \
           prsvtntax  pmfee oprtgcst rsrvfund trustcst csltcst legalcst
2021-12-31         0      0     0.00        0        0      10     0.00
2022-01-31         0    200    30.00        0    1,879     140    40.00
2022-02-28         0      0    30.00        0        0       0     0.00
2022-03-31         0      0    30.00        0        0       0     0.00
2022-04-30         0      0    30.00        0        0       0     0.00
2022-05-31         0      0    30.00        0        0       0     0.00
2022-06-30         0      0    30.00      940        0       0     0.00
2022-07-31         0      0    30.00        0        0       0     0.00
2022-08-31         0      0    30.00        0        0       0     0.00
2022-09-30         0      0    30.00        0        0       0     0.00
2022-10-31         0      0    30.00        0        0       0     0.00
2022-11-30         0      0    30.00        0        0       0     0.00
2022-12-31         0      0    30.00        0        0       0     0.00
2023-01-31         0      0    30.00        0        0       0     0.00
2023-02-28         0      0    30.00        0        0       0     0.00
2023-03-31         0      0    30.00        0        0       0     0.00
2023-04-30         0      0    30.00        0        0       0     0.00
2023-05-31         0      0    30.00        0        0       0     0.00
2023-06-30         0      0    30.00      939        0       0     0.00
2023-07-31         0      0    30.00        0        0       0     0.00
2023-08-31         0      0    30.00        0        0       0     0.00
2023-09-30         0      0    30.00        0        0       0     0.00
2023-10-31         0      0    30.00        0        0       0     0.00
2023-11-30         0      0    30.00        0        0       0     0.00
2023-12-31     2,866      0    30.00        0        0       0     0.00
2024-01-31         0      0    30.00        0        0       0     0.00
2024-02-29         0      0    30.00        0        0       0     0.00
2024-03-31         0      0    30.00        0        0       0     0.00
2024-04-30         0      0    30.00        0        0       0     0.00
2024-05-31         0      0    30.00        0        0       0     0.00
2024-06-30         0      0    30.00        0        0       0     0.00
2024-07-31         0      0     0.00        0        0       0     0.00
2024-08-31         0      0     0.00        0        0       0     0.00
2024-09-30         0      0     0.00        0        0       0     0.00
2024-10-31         0      0     0.00        0        0       0     0.00
2024-11-30         0      0     0.00        0        0       0     0.00

              fncg                       sum
           arngmnt spcoprtg agntbank     sum
2021-12-31       0     0.00     0.00   1,084
2022-01-31   1,940    66.00    30.00  23,251
2022-02-28       0     0.00     0.00   2,486
2022-03-31       0     0.00     0.00   2,486
2022-04-30       0     0.00     0.00   2,486
2022-05-31       0     0.00     0.00   2,486
2022-06-30       0     0.00     0.00   3,713
2022-07-31       0     0.00     0.00   2,486
2022-08-31       0     0.00     0.00   2,486
2022-09-30       0     0.00     0.00   2,486
2022-10-31       0     0.00     0.00   2,486
2022-11-30       0     0.00     0.00   2,486
2022-12-31       0     0.00     0.00   2,486
2023-01-31       0     0.00    30.00   2,516
2023-02-28       0     0.00     0.00   2,486
2023-03-31       0     0.00     0.00   2,486
2023-04-30       0     0.00     0.00   2,486
2023-05-31       0     0.00     0.00   2,486
2023-06-30       0     0.00     0.00   3,712
2023-07-31       0     0.00     0.00   2,486
2023-08-31       0     0.00     0.00   2,486
2023-09-30       0     0.00     0.00   2,486
2023-10-31       0     0.00     0.00   3,629
2023-11-30       0     0.00     0.00   2,486
2023-12-31       0     0.00     0.00   5,352
2024-01-31       0     0.00     0.00      30
2024-02-29       0     0.00     0.00      30
2024-03-31       0     0.00     0.00      30
2024-04-30       0     0.00     0.00      30
2024-05-31       0     0.00     0.00      30
2024-06-30       0     0.00     0.00      30
2024-07-31       0     0.00     0.00       0
2024-08-31       0     0.00     0.00       0
2024-09-30       0     0.00     0.00       0
2024-10-31       0     0.00     0.00       0
2024-11-30       0     0.00     0.00   7,615

In [53]:
print("## 필수사업비/선택적사업비 ##")
cost_initial = cost_df[:1].sum()
cost_vital = cost_df[1:-2].sum()
cost_optional = cost_df[-1:].sum()
cost_total = cost_df.sum()
R(DataFrame({'initial':cost_initial,
             'vital':cost_vital,
             'optional':cost_optional,
             'total':cost_total}))

## 필수사업비/선택적사업비 ##

                     initial   vital optional   total
lnd       prchs        1,000  13,500        0  14,500
          brkrg           39      92        0     130
          nhbond           0      36        0      36
          jdclcst          0      14        0      14
          tax_aqstn        0     675        0     675
cstrn     cstrn           35  58,465    6,500  65,000
cstrnidrt wtrelec          0     980        0     980
          wsctbn           0     163        0     163
          dsgncst          0     624        0     624
          lcnscst          0     528        0     528
          spvsn            0     490        0     490
mrktg     rentagncy        0       0    1,115   1,115
          salescsltg       0   1,000        0   1,000
          advtsmnt         0     500        0     500
taxutlt   prpttax          0      74        0      74
          prsvtntax        0   2,866        0   2,866
addtnl    pmfee            0     200        0     200
          oprtgcst         0     900        0     900
          rsrvfund         0   1,879        0   1,879
          trustcst         0   1,879        0   1,879
          csltcst         10     140        0     150
          legalcst         0      40        0      40
fncg      arngmnt          0   1,940        0   1,940
          spcoprtg         0      66        0      66
          agntbank         0      60        0      60
sum       sum          1,084  87,111    7,615  95,810

### 3) Loan

#### 3-1) Notional Amount

In [54]:
loan_dct = loan.ttl.dct.items()

loan_df = {}
for key, item in loan_dct:
    loan_df[(key, 'amt_sub')] = item.ntnl.amt_sub[:]
    loan_df[(key, 'amt_add')] = item.ntnl.amt_add[:]
    loan_df[(key, 'bal_end')] = item.ntnl.bal_end[:]
loan_df = DataFrame(loan_df)
loan_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_sub"])
loan_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "amt_add"])
loan_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loan_df.items() if key2 == "bal_end"])

display(R(loan_df))

               tra                      trb                      sum          \
           amt_sub amt_add  bal_end amt_sub amt_add  bal_end amt_sub amt_add
2021-12-31       0       0        0       0       0        0       0       0
2022-01-31  13,000       0  -13,000  27,000       0  -27,000  40,000       0
2022-02-28       0       0  -13,000       0       0  -27,000       0       0
2022-03-31       0       0  -13,000       0       0  -27,000       0       0
2022-04-30       0       0  -13,000       0       0  -27,000       0       0
2022-05-31       0       0  -13,000       0       0  -27,000       0       0
2022-06-30     300       0  -13,300       0       0  -27,000     300       0
2022-07-31   2,700       0  -16,000       0       0  -27,000   2,700       0
2022-08-31   2,700       0  -18,700       0       0  -27,000   2,700       0
2022-09-30   2,700       0  -21,400       0       0  -27,000   2,700       0
2022-10-31   2,800       0  -24,200       0       0  -27,000   2,800       0
2022-11-30   2,700       0  -26,900       0       0  -27,000   2,700       0
2022-12-31   2,700       0  -29,600       0       0  -27,000   2,700       0
2023-01-31   2,800       0  -32,400       0       0  -27,000   2,800       0
2023-02-28   2,800       0  -35,200       0       0  -27,000   2,800       0
2023-03-31   2,800       0  -38,000       0       0  -27,000   2,800       0
2023-04-30   2,700       0  -40,700       0       0  -27,000   2,700       0
2023-05-31   2,800       0  -43,500       0       0  -27,000   2,800       0
2023-06-30   4,100       0  -47,600       0       0  -27,000   4,100       0
2023-07-31   2,800       0  -50,400       0       0  -27,000   2,800       0
2023-08-31   2,800       0  -53,200       0       0  -27,000   2,800       0
2023-09-30   2,800       0  -56,000       0       0  -27,000   2,800       0
2023-10-31   4,000       0  -60,000       0       0  -27,000   4,000       0
2023-11-30   2,900       0  -62,900       0       0  -27,000   2,900       0
2023-12-31   5,700       0  -68,600       0       0  -27,000   5,700       0
2024-01-31     400       0  -69,000       0       0  -27,000     400       0
2024-02-29     500       0  -69,500       0       0  -27,000     500       0
2024-03-31     400       0  -69,900       0       0  -27,000     400       0
2024-04-30     100       0  -70,000       0       0  -27,000     100       0
2024-05-31       0       0  -70,000       0       0  -27,000       0       0
2024-06-30       0  70,000        0       0  27,000        0       0  97,000
2024-07-31       0       0        0       0       0        0       0       0
2024-08-31       0       0        0       0       0        0       0       0
2024-09-30       0       0        0       0       0        0       0       0
2024-10-31       0       0        0       0       0        0       0       0
2024-11-30       0       0        0       0       0        0       0       0


            bal_end
2021-12-31        0
2022-01-31  -40,000
2022-02-28  -40,000
2022-03-31  -40,000
2022-04-30  -40,000
2022-05-31  -40,000
2022-06-30  -40,300
2022-07-31  -43,000
2022-08-31  -45,700
2022-09-30  -48,400
2022-10-31  -51,200
2022-11-30  -53,900
2022-12-31  -56,600
2023-01-31  -59,400
2023-02-28  -62,200
2023-03-31  -65,000
2023-04-30  -67,700
2023-05-31  -70,500
2023-06-30  -74,600
2023-07-31  -77,400
2023-08-31  -80,200
2023-09-30  -83,000
2023-10-31  -87,000
2023-11-30  -89,900
2023-12-31  -95,600
2024-01-31  -96,000
2024-02-29  -96,500
2024-03-31  -96,900
2024-04-30  -97,000
2024-05-31  -97,000
2024-06-30        0
2024-07-31        0
2024-08-31        0
2024-09-30        0
2024-10-31        0
2024-11-30        0

#### 3-2) Fee Amount

In [55]:
fee_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.fee.dct.items()}, index=['amt_add'])
fee_dct['sum'] = fee_dct.sum(axis=1)
R(fee_dct)

           tra    trb    sum
amt_add  1,558  1,080  2,638

In [56]:
loan_dct = loan.ttl.dct.items()

loanfee_df = {}
for key, item in loan_dct:
    loanfee_df[(key, 'amt_sub')] = item.fee.amt_sub[:]
    loanfee_df[(key, 'amt_add')] = item.fee.amt_add[:]
    loanfee_df[(key, 'bal_end')] = item.fee.bal_end[:]
loanfee_df = DataFrame(loanfee_df)
loanfee_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loanfee_df.items() if key2 == "amt_sub"])
loanfee_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loanfee_df.items() if key2 == "amt_add"])
loanfee_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loanfee_df.items() if key2 == "bal_end"])

display(R(loanfee_df))

               tra                     trb                     sum          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00       0
2022-01-31    0.00   1,412   1,412    0.00   1,080   1,080    0.00   2,492
2022-02-28    0.00      10   1,421    0.00       0   1,080    0.00      10
2022-03-31    0.00      10   1,431    0.00       0   1,080    0.00      10
2022-04-30    0.00      10   1,440    0.00       0   1,080    0.00      10
2022-05-31    0.00      10   1,450    0.00       0   1,080    0.00      10
2022-06-30    0.00      10   1,459    0.00       0   1,080    0.00      10
2022-07-31    0.00       9   1,469    0.00       0   1,080    0.00       9
2022-08-31    0.00       9   1,478    0.00       0   1,080    0.00       9
2022-09-30    0.00       9   1,486    0.00       0   1,080    0.00       9
2022-10-31    0.00       8   1,494    0.00       0   1,080    0.00       8
2022-11-30    0.00       8   1,502    0.00       0   1,080    0.00       8
2022-12-31    0.00       7   1,509    0.00       0   1,080    0.00       7
2023-01-31    0.00       7   1,516    0.00       0   1,080    0.00       7
2023-02-28    0.00       6   1,522    0.00       0   1,080    0.00       6
2023-03-31    0.00       6   1,528    0.00       0   1,080    0.00       6
2023-04-30    0.00       5   1,533    0.00       0   1,080    0.00       5
2023-05-31    0.00       5   1,538    0.00       0   1,080    0.00       5
2023-06-30    0.00       4   1,543    0.00       0   1,080    0.00       4
2023-07-31    0.00       4   1,546    0.00       0   1,080    0.00       4
2023-08-31    0.00       3   1,550    0.00       0   1,080    0.00       3
2023-09-30    0.00       3   1,552    0.00       0   1,080    0.00       3
2023-10-31    0.00       2   1,555    0.00       0   1,080    0.00       2
2023-11-30    0.00       2   1,556    0.00       0   1,080    0.00       2
2023-12-31    0.00       1   1,558    0.00       0   1,080    0.00       1
2024-01-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-02-29    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-03-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-04-30    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-05-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-06-30    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-07-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-08-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-09-30    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-10-31    0.00       0   1,558    0.00       0   1,080    0.00       0
2024-11-30    0.00       0   1,558    0.00       0   1,080    0.00       0


           bal_end
2021-12-31       0
2022-01-31   2,492
2022-02-28   2,501
2022-03-31   2,511
2022-04-30   2,520
2022-05-31   2,530
2022-06-30   2,539
2022-07-31   2,549
2022-08-31   2,558
2022-09-30   2,566
2022-10-31   2,574
2022-11-30   2,582
2022-12-31   2,589
2023-01-31   2,596
2023-02-28   2,602
2023-03-31   2,608
2023-04-30   2,613
2023-05-31   2,618
2023-06-30   2,623
2023-07-31   2,626
2023-08-31   2,630
2023-09-30   2,632
2023-10-31   2,635
2023-11-30   2,636
2023-12-31   2,638
2024-01-31   2,638
2024-02-29   2,638
2024-03-31   2,638
2024-04-30   2,638
2024-05-31   2,638
2024-06-30   2,638
2024-07-31   2,638
2024-08-31   2,638
2024-09-30   2,638
2024-10-31   2,638
2024-11-30   2,638

#### 3-3) IR Amount

In [57]:
IR_dct = DataFrame({key: sum(item.amt_add[:]) for key, item in loan.ttl.IR.dct.items()}, index=['amt_add'])
IR_dct['sum'] = IR_dct.sum(axis=1)
R(IR_dct)

           tra    trb    sum
amt_add  4,032  4,568  8,600

In [58]:
loan_dct = loan.ttl.dct.items()

loanIR_df = {}
for key, item in loan_dct:
    loanIR_df[(key, 'amt_sub')] = item.IR.amt_sub[:]
    loanIR_df[(key, 'amt_add')] = item.IR.amt_add[:]
    loanIR_df[(key, 'bal_end')] = item.IR.bal_end[:]
loanIR_df = DataFrame(loanIR_df)
loanIR_df[('sum', 'amt_sub')] = sum([item for (key1, key2), item in loanIR_df.items() if key2 == "amt_sub"])
loanIR_df[('sum', 'amt_add')] = sum([item for (key1, key2), item in loanIR_df.items() if key2 == "amt_add"])
loanIR_df[('sum', 'bal_end')] = sum([item for (key1, key2), item in loanIR_df.items() if key2 == "bal_end"])

display(R(loanIR_df))

               tra                     trb                     sum          \
           amt_sub amt_add bal_end amt_sub amt_add bal_end amt_sub amt_add
2021-12-31    0.00       0       0    0.00       0       0    0.00       0
2022-01-31    0.00       0       0    0.00       0       0    0.00       0
2022-02-28    0.00      46      46    0.00     158     158    0.00     203
2022-03-31    0.00      46      91    0.00     158     315    0.00     203
2022-04-30    0.00      46     136    0.00     158     472    0.00     203
2022-05-31    0.00      46     182    0.00     158     630    0.00     203
2022-06-30    0.00      46     228    0.00     158     788    0.00     203
2022-07-31    0.00      47     274    0.00     158     945    0.00     204
2022-08-31    0.00      56     330    0.00     158   1,102    0.00     214
2022-09-30    0.00      65     396    0.00     158   1,260    0.00     223
2022-10-31    0.00      75     470    0.00     158   1,418    0.00     232
2022-11-30    0.00      85     555    0.00     158   1,575    0.00     242
2022-12-31    0.00      94     649    0.00     158   1,732    0.00     252
2023-01-31    0.00     104     753    0.00     158   1,890    0.00     261
2023-02-28    0.00     113     866    0.00     158   2,048    0.00     271
2023-03-31    0.00     123     989    0.00     158   2,205    0.00     281
2023-04-30    0.00     133   1,122    0.00     158   2,362    0.00     290
2023-05-31    0.00     142   1,265    0.00     158   2,520    0.00     300
2023-06-30    0.00     152   1,417    0.00     158   2,678    0.00     310
2023-07-31    0.00     167   1,584    0.00     158   2,835    0.00     324
2023-08-31    0.00     176   1,760    0.00     158   2,992    0.00     334
2023-09-30    0.00     186   1,946    0.00     158   3,150    0.00     344
2023-10-31    0.00     196   2,142    0.00     158   3,308    0.00     354
2023-11-30    0.00     210   2,352    0.00     158   3,465    0.00     368
2023-12-31    0.00     220   2,573    0.00     158   3,622    0.00     378
2024-01-31    0.00     240   2,813    0.00     158   3,780    0.00     398
2024-02-29    0.00     242   3,054    0.00     158   3,938    0.00     399
2024-03-31    0.00     243   3,297    0.00     158   4,095    0.00     401
2024-04-30    0.00     245   3,542    0.00     158   4,252    0.00     402
2024-05-31    0.00     245   3,787    0.00     158   4,410    0.00     402
2024-06-30    0.00     245   4,032    0.00     158   4,568    0.00     402
2024-07-31    0.00       0   4,032    0.00       0   4,568    0.00       0
2024-08-31    0.00       0   4,032    0.00       0   4,568    0.00       0
2024-09-30    0.00       0   4,032    0.00       0   4,568    0.00       0
2024-10-31    0.00       0   4,032    0.00       0   4,568    0.00       0
2024-11-30    0.00       0   4,032    0.00       0   4,568    0.00       0


           bal_end
2021-12-31       0
2022-01-31       0
2022-02-28     203
2022-03-31     406
2022-04-30     609
2022-05-31     812
2022-06-30   1,015
2022-07-31   1,219
2022-08-31   1,433
2022-09-30   1,656
2022-10-31   1,888
2022-11-30   2,130
2022-12-31   2,382
2023-01-31   2,643
2023-02-28   2,914
2023-03-31   3,194
2023-04-30   3,485
2023-05-31   3,785
2023-06-30   4,095
2023-07-31   4,419
2023-08-31   4,753
2023-09-30   5,096
2023-10-31   5,450
2023-11-30   5,817
2023-12-31   6,195
2024-01-31   6,593
2024-02-29   6,992
2024-03-31   7,392
2024-04-30   7,794
2024-05-31   8,197
2024-06-30   8,600
2024-07-31   8,600
2024-08-31   8,600
2024-09-30   8,600
2024-10-31   8,600
2024-11-30   8,600

### 3-4) Financial Cost Sum

In [59]:
arngmnt_cst = sum(cost_df['fncg']['arngmnt'])
print(f"arngmnt cost: {arngmnt_cst:>7,.0f}")

print("\n\nfee cost")
display(R(fee_dct))
print("\n\nIR cost")
display(R(IR_dct))

ttl_cst = arngmnt_cst + sum(fee_dct['sum']) + sum(IR_dct['sum'])
print(f"\n\ntotal financial cost: {ttl_cst:>7,.0f}")

arngmnt cost:   1,940


fee cost

           tra    trb    sum
amt_add  1,558  1,080  2,638

IR cost

           tra    trb    sum
amt_add  4,032  4,568  8,600

total financial cost:  13,178

# Aggregating Data

In [60]:
col = pd.MultiIndex.from_product([['oprtg'], acc.oprtg.df.columns], names=['first', 'second'])
oprtg_df = DataFrame(acc.oprtg.df.values, index=acc.oprtg.df.index, columns=col)

col = pd.MultiIndex.from_product([['sales'], sales.df.columns], names=['first', 'second'])
sales_df = DataFrame(sales.df.values, index=sales.df.index, columns=col)

col = pd.MultiIndex.from_product([['repay'], acc.repay.df.columns], names=['first', 'second'])
repay_df = DataFrame(acc.repay.df.values, index=acc.repay.df.index, columns=col)

loan_df = loan_df.rename(columns={'tra':'loan_tra', 'trb':'loan_trb', 'sum':'loan_sum'})
loanfee_df = loanfee_df.rename(columns={'tra':'fee_tra', 'trb':'fee_trb', 'sum':'fee_sum'})
loanIR_df = loanIR_df.rename(columns={'tra':'IR_tra', 'trb':'IR_trb', 'sum':'IR_sum'})

In [61]:
gathereddata = pd.concat([oprtg_df, sales_df, repay_df, cost_df, loan_df, loanfee_df, loanIR_df], axis=1)
gathereddata.to_excel("data/df_account.xlsx")